[2019-05-14 20:45] starwarskidfan opened #26 "Add Canvas App Export Feature"
I would really like the ability to export apps pragmatically and move then to different environments. I feel like most people, that are using PowerApps as fast deployed solutions, have a Dev Environment and a Prod Environment.

If you could export the app and then import the app in a new environment I feel like this would solve the problem.

You also could just add functionality to copy it to a di

[2019-05-17 00:59] jatin085 commented on #26
The request should be made in PowerApps Community forum. Please feel free to open up a discussion at https://powerusers.microsoft.com/t5/General-Discussion/bd-p/PowerAppsForum1.

[2019-05-17 01:01] JatinSanghvi commented on #26
The request should be made in PowerApps Community Forum. Please feel free to open up a discussion at https://powerusers.microsoft.com/t5/General-Discussion/bd-p/PowerAppsForum1.

[2019-05-17 01:01] #26 closed

[2019-05-17 18:08] johnnliu opened #28 "Microsoft MVP API"
**Describe the bug**

I have a custom connector for Microsoft MVP API.
https://github.com/johnnliu/flow/blob/master/MVP%20Production.swagger.json

The API needs two pieces of authentication.

MSA and a per-user Ocp-Apim-Subscription-Key.

I'm not sure how to write a custom connector that has two authentication parts.  Also, the API header is needed in every call.

Would love to pull it into this p

[2019-05-20 10:36] tom-sherman opened #30 "Persist login with token or similar"
I'm asked to login very frequently, which disrupts the development flow of the custom connector. Is it possible to specify something like an OAuth token so that I am persistently logged in?

This would also enable CI/CD of connectors.

[2019-05-31 18:58] schabungbam commented on #28
Hi John,

For the API header, you can make it work in one of 3 ways:

(1) Define the header in the swagger for every operation.  This will mean the end user provide the info in every API call.
(2) Use the "Set header" policy in your connector, and use a hard-code a static value there.  Works well if you plan to deploy the connector for a limited environment and you dont want to bother the end user

[2019-05-31 18:59] schabungbam commented on #30
Not sure - is this for the CLI tool?
Or, your connection is getting expired?  Ideally, we should be refreshing the token automatically.

[2019-05-31 21:57] tom-sherman commented on #30
@schabungbam Yes i'm talking about the `paconn` CLI tool, it asks me to login I think every hour.

[2019-06-01 11:26] garrytrinder commented on #28
@johnnliu sounds similar to how the Harvest API works, I used option 1 suggested by @schabungbam in my connector as the Harvest API requires the Harvest Account Id with every request.

![image](https://user-images.githubusercontent.com/11563347/58747821-5e981080-8468-11e9-8560-9dc9ef88edb0.png)

https://github.com/garrytrinder/harvest-api-powerplatform-custom-connector/blob/master/Harvest-API.swag

[2019-06-04 17:26] schabungbam commented on #30
@mamurshe - Any idea if there is a way to fix this? Or are there other solutions?

[2019-06-04 17:34] schabungbam opened #36 "Can we please add a Readme.md file for the samples?"
The samples "CompaniesHouse" and "IdealPostcodes" looks interesting, but I dont know how to get started.  Can we please add a ReadMe.md file with instructions?

Ideally the ReadMe will target both contributors and end users and will contain the following:
[1] A brief intro on the service/API we are connecting to - so that users understand what the connector is supposed to do.  For contributors, th

[2019-06-04 22:20] garrytrinder commented on #36
Thanks for raising this @schabungbam I'll look to get a PR raised by the end of the week 👍🏻

[2019-06-06 01:03] mamurshe commented on #30
Hi @tom-sherman ,
Thanks for bringing up the issue. As we are working to include the CLI in our own CI/CD, I am working to enable support for Azure Active Directory. I will escalate this effort and work on publish it sooner.

[2019-06-12 06:26] Guustc opened #41 "Client Certificate authentication in Custom Connector"
We need to connect to a custom API through a proxy server thats need a client certificate for authentication. Also, the custom API it self needs Oauth 2 for handling the authentication.

So we have to types of authentication for 1 HTTP request.

Custom connectors do not support client certification at all and you are only able to choose 1 type of authentication.

**Describe the solution you'd like

[2019-07-06 15:59] garrytrinder opened #58 "paconn validate (Bad Request for url)"
**Describe the bug**
When attempting to validate a connector you get the below error

![image](https://user-images.githubusercontent.com/11563347/60758426-6a01cd00-a00e-11e9-8eb3-517684e9dae8.png)

Navigating to the URL given in the error

`https://api.powerapps.com/providers/Microsoft.PowerApps/objectIds/c03fcc17-7e4e-4a4a-bf0f-5f39e2844a83/validateApiSwagger?api-version=2016-11-01&enableConnecto

[2019-07-07 18:39] garrytrinder commented on #36
Just pushed #59 which contains Readme file for Ideal Postcodes Connector

[2019-07-10 23:59] Cloudmersive opened #60 "paconn does not have logout"
**Is your feature request related to a problem? Please describe.**
If you login to paconn with account A and then want to login to paconn with account B there is actually no way to do this.  Running paconn login again tells you you are already logged in.  Running paconn logout does not exist as a command

**Describe the solution you'd like**
Add paconn logout or allow paconn login to be run while

[2019-07-11 08:29] garrytrinder commented on #60
+1

Not a fix but a potential workaround, you can run multiple instances of paconn at the same time using a Docker container, each authenticated with different tenants, as shown below.

![image](https://user-images.githubusercontent.com/11563347/61034115-91fd8180-a3bc-11e9-9e72-1443cc9d2b03.png)

As the containers are isolated from each other they don’t conflict.

I have a public image on Docker H

[2019-07-11 19:10] Cloudmersive commented on #60
Thanks @garrytrinder but running in Docker containers is pretty heavy for a basic script.

For reference the Zapier platform CLI has "zapier login" and "zapier logout".  This seems like a more sustainable solution to a basic problem.

[2019-07-22 23:27] hdanzl commented on #60
The token is persisted in your {user}\.paconn folder. Just delete the file...

[2019-07-23 11:59] gpsarkar commented on #30
@mamurshe Is there any ETA for this implementation or workaround to use this in cicd process?

[2019-07-31 01:47] Cloudmersive commented on #60
@hdanzl Good workaround, thanks.  Still seems like a built in logout command would be the right solution long term

[2019-08-22 05:15] tmmueller opened #63 ""On all new alerts" trigger fires continuously"
**Describe the bug**
I created a very simple flow with the "On all new alerts" trigger. Unfortunately, the trigger fires every 2 minutes and outputs the same 20 alerts.

**To Reproduce**
Create a flow with the "On all new alerts" trigger. Watch what happens.

**Expected behavior**
The flow should run only when there are new alerts, and it should never run on the same alert more than once.

**Envir

[2019-09-15 19:48] Cloudmersive commented on #60
Any plans to fix this?  It is causing issues that you cannot logout

[2019-09-20 22:19] mamurshe commented on #63
Hi @tmmueller please submit flow related issues to Microsoft Flow support: https://preview.flow.microsoft.com/en-us/support/

[2019-09-20 22:19] #63 closed

[2019-09-20 22:20] mamurshe commented on #60
A new release contains a fix for this issue. The login method now contains a --force parameter to override previous login. It will be posted to pypi by the end of next week.

[2019-09-20 22:21] mamurshe commented on #60
Please delete the .paconn folder in the user directory to force it to login again.

[2019-09-20 22:22] mamurshe commented on #58
Thanks for reporting the issue. I will investigate and respond by next week.

[2019-09-20 22:23] mamurshe commented on #41
@Guustc Thanks for the request. We include your request for future update.

[2019-09-20 22:24] #36 closed

[2019-09-20 22:26] mamurshe commented on #28
Closing this since @garrytrinder @schabungbam posted some suggestion. Please reopen if the issue isn't resolved.

[2019-09-20 22:26] #28 closed

[2019-09-24 19:24] mamurshe commented on #60
0.0.11 is released with a --force option for login, which essentially discards previous login and logs the user in again. Please run `pip install --upgrade paconn` to update your version.

[2019-09-24 19:24] #60 closed

[2019-09-24 19:25] mamurshe commented on #58
I was able to reproduce this error. I will work on to fix this.

[2019-09-24 19:41] mamurshe commented on #58
@garrytrinder The error I reproduced isn't the same one you got. Can you please send me a copy of the swagger file? Please feel free to send the smallest subset that can be used to reproduce the error.

[2019-09-24 20:38] mamurshe commented on #30
Hi,
Unfortunately no ETA yet. But we have this request in our backlog.

[2019-09-24 22:22] mamurshe commented on #41
@Guustc In the meantime I would encourage you to implement the feature. Please let me know if I can help in any way. I will close this issue for now.

[2019-09-24 22:22] #41 closed

[2019-09-24 22:23] mamurshe commented on #30
I would encourage to implement the feature. Please let me know if I can help in any way. I will close this issue for now.

[2019-09-24 22:23] #30 closed

[2019-09-25 07:14] tom-sherman commented on #30
@mamurshe I would strongly suggest that this issue is kept open until the actual feature is resolved so that others can locate it and potentially start working on a solution

[2019-10-22 23:39] mamurshe opened #72 "Download operation always prompts to select a connector when the connector id is provided as a parameter"
Download operation always prompts to select a connector when the connector id is provided as a parameter

[2019-11-06 19:04] michi88 commented on #58
I'm running into the same error, unfortunately.

[code]
paconn==0.0.11

This is for a new connector I want to submit.

settings.json
[code]

apiProperties.json
[code]

apiDefinition.swagger.json
[code]

[2019-11-15 00:44] mamurshe commented on #58
I tried again today with specific regional endpoints and couldn't reproduce. Can you please try the following commands?
paconn validate -d apiDefinition.swagger.json -u https://us.api.powerapps.com
paconn validate -d apiDefinition.swagger.json -u https://europe.api.powerapps.com

[2019-11-15 11:45] michi88 commented on #58
Still the same:

[code]

[2019-11-18 18:04] mamurshe commented on #58
Thanks for testing @michi88 I will investigate more.

[2019-11-21 23:08] mamurshe commented on #58
The root cause of the problem is that the user may not have a paid subscription for this feature.

Having a paid subscription is important, because we will need you to have the ability to setup an environment where you can create, modify and test not only your custom connector but also your certified connector.

Here is a link to the [Microsoft Power Apps and Power Automate Licensing Guide](https:

[2019-11-21 23:08] #58 closed

[2019-11-30 22:34] Cloudmersive commented on #60
This works, thank you

[2019-12-01 03:29] Cloudmersive opened #80 "paconn tool does not have a way to create zip file, even though instructions say to do this"
**Describe the bug**
The instructions in the connector certification portal say: "Please use the CLI Tool to create the zip file containing your connector artifacts. Documentation on this process can be found here."

However, this is not possible because paconn has no way of outputting a zip file

**Expected behavior**
Provide paconn package command that outputs a zip file.  Right now paconn downl

[2019-12-02 18:57] mamurshe commented on #80
The paconn tool doesn't create a zip file at this moment. The document will be updated to reflect this.

[2020-01-09 03:24] joem-msft opened #86 "[paconn-cli] Cannot import name 'BlockBlobService' from 'azure.storage.blob'"
**Description of Feature or Work Requested**
When calling the 'update' command with a fresh install of the paconn tool, the following error occurs:

It turns out the latest version of the azure.storage.blob package (v12.1.0) has breaking change compared to the previous version (v2.1.0). And it doesn't have the BlockBlobService anymore.

[2020-01-09 19:28] #86 closed

[2020-01-17 08:43] timp3261 opened #90 "No token to access"
This issue occurs when running the flow after using FacebookCustomConnector.

The error message.
{"error":{"message":"(#200) If posting to a group, requires app being installed in the group, and \\\n either publish_to_groups permission with user token, or both manage_pages \\\n and publish_pages permission with page token; If posting to a page, \\\n requires both manage_pages and publish_pages as

[2020-01-21 07:18] timp3261 commented on #90
it has been fixed.

[2020-01-21 07:18] #90 closed

[2020-01-31 21:46] v-sriyen opened #117 "Swagger Validator doesn't allow UTF-8 encoding swaggers"
**Describe the bug**
Swagger Validator doesn't allow UTF-8 encoding swaggers. Please allow all the possible encodings.

[2020-01-31 22:48] v-sriyen opened #118 "Swagger Validator and paconn tool doesn't check for 'content_type' syntax"
**Describe the bug**
Swagger Validator doesn't check for 'content_type' syntax in the swagger

**To Reproduce**
Below Swagger passed paconn tool and Swagger Validator
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "default": {
                **"conten_type"**: "sdsd",
                "encoding": "cp1251"

[2020-02-03 19:34] mamurshe commented on #118
@v-sriyen cli is just a client for the swagger validator. Please submit the defect to the internal bug tracker.

[2020-02-03 19:34] #118 closed

[2020-02-04 01:07] #72 closed

[2020-02-04 01:11] mamurshe commented on #117
CLI tools is a client of swagger validator. Please submit the defect to internal portal.

[2020-02-04 01:11] #117 closed

[2020-02-20 20:08] pzerger opened #142 "Looks like you changed the folder structure, which broke links In Power Automate documentation"
**Describe the bug**
Broken links in Power Automate docs due to folder changes in this repo.

**To Reproduce**
Click on links references this repo on this page - https://docs.microsoft.com/en-us/connectors/facebook/

**Expected behavior**
You may want to check with Docs team to figure out how impactful this is across all Power Platform docs.

**Environment summary**
Install Method (e.g. pip, inter

[2020-02-21 02:50] dougelliott commented on #142
Hey @pzerger - thanks for flagging this. From what I can find this seems to be the only instance of impact. We'll make an item to get this addressed.

[2020-02-21 19:21] dougelliott commented on #142
@pzerger I've put in the change to fix the link in the Facebook documentation. That'll go out with the next deployment cycle in a few business days. I'll go ahead and consider this resolved, and close the issue accordingly.

Thanks again for flagging!

[2020-02-21 19:21] #142 closed

[2020-02-26 21:49] joem-msft opened #146 "[paconn download] apiProperties.json should not emit internal properties"
**Describe the bug**
When downloading the connection parameters for a connector, certain properties of the oAuthSettings object should not be saved, as these are output properties, not input properties.

**To Reproduce**
paconn download for any connector that uses oauthsettings tokens.

**Expected behavior**
the following properties under the oAuthSettings object should not be saved:
- redirectUrl

[2020-02-26 22:05] joem-msft opened #147 "[paconn] simplify paconn create/update commands so filenames are assumed to be the expected folder layout filenames"
**Describe the bug**
The names of these files should be assumed if not specified. The filenames already have defaults in the settings.py file. We shoudn't have to specify them on the cmd line or explicitly in the settings.json file. Instead, they should use the same default values.

While the repro steps describe one of the ways this behavior shows up, the ask here is to make it so that adherence

[2020-03-04 18:40] joem-msft opened #155 "paconn validate command gets service error when swagger contains invalid $ref values"
**Describe the bug**
When a swagger file (apiDefinition.swagger.json) contains invalid $ref values, they should be reported as errors by the `paconn validate` command.

**To Reproduce**
1. cd into the following folder: `certified-connectors\Pushcut`
1. run: `paconn validate -d apiDefinition.swagger.json`
1. Note, the command executes and displays a couple warnings. This is the success case.
1. Ope

[2020-03-11 08:52] Gregghis opened #162 "Facebook connector - 404"
Hi,

I try to deploy the facebook sample custom connector with no success.

- I registered a facebook app, with product "Facebook login" and I marked it as "native app".
- On the apiProperty.json file I updated the clientID.
- with the paconn I registered the connector on my tenant using the commands
paconn login
paconn create -s [Path to settings.json] --secret [The OAuth2 client secret for the c

[2020-03-12 23:14] joem-msft opened #196 "Normalize casing of policy template instances"
Currently, policyTemplateInstances have different cases for different connectors.

In reality, the RPs are not case-sensitive on these ids. Yet normalizing on a casing would simplify schemas and checked in code.

To address this, we'd need to:
- normalize existing instances in the repo
- update `paconn` to do this normalization so it doesn't need to be done manually.

_Originally posted by @mamurs

[2020-03-12 23:41] joem-msft opened #197 "Update the readme.md with a section about VS Code integration"
Can you please update the readme.md and add a section about VS Code and how to use the schema?

_Originally posted by @mamurshe in https://github.com/microsoft/PowerPlatformConnectors/pull/163#issuecomment-598411729_

[2020-03-12 23:46] joem-msft opened #198 "Rename paconn settings.json file to something less generic"
**Is your feature request related to a problem? Please describe.**
settings.json is too generic a name for tooling. e.g. /.vscode/settings.json. This file is owned by vscode, but because it's in a subfolder it's unambiguous.

Furthermore, writing VS Code tooling to this file would be simpler if it had a unique name.

Also, we can add a more specific filename to our `.gitignore` to prevent this fil

[2020-03-16 20:27] joem-msft opened #201 "paconn and PR validation should not save clientId values, and ensure they aren't added in PRs"
We should:
1) ensure paconn doesn't automatically save clientIds
2) PR process should validate that clientIds are not checked into the repo.
3) paconn tool should be designed to allow a developer to provide the clientId (it already provides the clientSecret as a parameter).

_Originally posted by @mamurshe in https://github.com/microsoft/PowerPlatformConnectors/pull/199_

[2020-04-06 14:37] mlainez commented on #41
Hi, I'm having the same problem here. @mamurshe what did you mean by "I would encourage you to implement the feature", is there anything I can do?

[2020-04-06 14:56] mlainez opened #225 "Support client credentials Oauth 2.0 flow"
At the moment, it seems that only the accessCode flow is supported in the generic Oauth 2.0 identity provider. However, our APIs use the authorization code flow and client credentials flow. Which makes an integration with Microsoft Power Automate impossible for us unless we change our Oauth 2.0 implementation.

When I try to create a custom connector forcing the client credentials flow using the "

[2020-05-12 15:04] Okafawa opened #254 "Swagger error using Facebook connector"
**Describe the bug**
When using the Facebook connector, I get a swagger error.

**To Reproduce**
-Create a Facebook custom  connector on Power Automate.
-Import the apiDefinition.Swagger.json
-Create the connector

**Expected behavior**
The connector is expected to be created successfully

**Environment summary**

**Additional context**
**Error message:**
_Specified swagger has the following error

[2020-05-20 18:56] schabungbam opened #264 "[paconn] Add support for logout"
Problem:
Sometimes we use a different accounts to deploy a connector across different environments (a PROD/TEST environment vs a community environment). The paconn utility, once logged in, cannot be used to target the other environment. The only option seems to wait out until the token expires - which is extremely painful.

**Describe the solution you'd like**
Add a paconn logout command.

**Descr

[2020-05-21 19:15] mamurshe commented on #264
`paconn login -f` will force a login to a different account.

[2020-05-26 09:32] nk-gears opened #267 "[paconn] Paconn Update Throws Error"
**Describe the bug**
Recently (in the last 3 days) i am getting a weird error when trying to update the connectors via paconn-cli. Issue exists on both Mac OS and Linux Platform

[code]

**To Reproduce**
Download any Connector using Paconn download and just try to update back using paconn update -s settings.json

**Expected behavior**
A clear and concise description of what you expected to happen.

[2020-06-03 04:55] nk-gears commented on #267
I had a suspect that this happens due to a network latency. Then i created a VM in US Region and installed paconn and tried. To my surprise the same connector.json worked in just 20 seconds.

So, you need to check how to deal with the network latency due to geographical usage. I reside in India and i am decided not to use PACONN from my  terminal anymore.

[2020-06-04 10:10] sear-lin-avepoint opened #274 "Localization of custom connector"
I didn't find any document about the localization for custom connector, but I do see that the certified connector is localized if I change the PowerAutomate page to a different language, how it happened? it's auto translated by Bing translator?

[2020-06-11 14:09] maventis commented on #267
I have exactly the same issue and I agree with you @nk-gears, it seems to be latency-based as I tried the same as you except with a proxy instead, and it worked fine within 20 seconds.

[2020-06-19 10:59] diegobernardes opened #287 "There is any way to login without the need to access a endpoint?"
**Description of Feature or Work Requested**
There is a CLI tool, but to log in, we need to access an endpoint through a browser. No problem with that, it works, but this blocks things like continuous delivery where we expect to log in through the terminal in a CI environment.

There is any way to do that or if not, there is any plan to implement this feature?

[2020-06-24 18:18] diegobernardes opened #289 "Can't use 'paconn update'"
**Describe the bug**
`paconn update` never succeeds for me. Running with a debug flag to show that the application spends minutes on this line `urllib3.connectionpool : Starting new HTTPS connection (1): api.powerapps.com:443` before returning with error.

[code]

**To Reproduce**
I've download my settings with `paconn download` and then executed with `paconn update --settings settings.json --debu

[2020-06-29 03:50] sear-lin-avepoint commented on #274
any update?

[2020-07-02 21:52] mmurshed commented on #267
Hi,
I think I have some idea about the problem. I think the rest call is returning with an empty response due to latency most likely. The CLI is trying to parse the empty response and fails with JSON error. The resolution would be to not parse empty response and output to console saying that it encountered and empty response.

Since latency isn't an issue for me I can't reproduce. Would any of you

[2020-07-03 02:14] nk-gears commented on #267
@mmurshed I started using a VPN (TunnelBear) and then run the paconn update. Now  i no more have this error as the latency issue is resolved.

I can definitely test and send you the results related to the empty JSON fix. But that doesn't solves the actual problem which the users are facing on other side of the globe.

What i recommend is, when uploading the changes to the server via update, it wil

[2020-07-03 02:16] nk-gears commented on #289
@diegobernardes I opened a ticket related to this #267 .This explains in detail

[2020-07-08 00:59] dougelliott commented on #289
Closing as duplicate. Let's move conversation over to #267 to keep things organized.

[2020-07-08 00:59] #289 closed

[2020-07-08 01:09] dougelliott commented on #264
Logout command for paconn has been added in https://github.com/microsoft/PowerPlatformConnectors/pull/290 for version 0.0.14

This new functionality can be used via `paconn logout`

Closing issue since feature request was implemented.

[2020-07-08 01:09] #264 closed

[2020-07-16 19:04] eshupps opened #312 "Validate function does not recognize allowable number formats such as int64"
**Describe the bug**
If the api definition file contains definition with properties of type "number", with format "int64", the validation function throws the following error:

_The type/format 'number/int64' is not recognized._

This is inconsistent with the OpenAPI 2.0 specification, which, in addition to an empty value, allows the following format values for type "number":

float
double
int32
in

[2020-08-03 11:19] hajekj commented on #287
Yeah, we are already using this now with CI/CD. You need a service account which has Conditional Access exception (so MFA isn't required) and it works.

[code]

[2020-08-03 12:13] hajekj commented on #225
In fact some first party connectors already have the ability to use client_credentials, so it would be great to have the ability too. We also have many use cases for this.

[2020-08-03 12:14] hajekj commented on #287
Also, it would be great if it was possible to authenticate via client_credentials rather than a service account - because this is sort of a security issue (interactive non-MFA account). I tried authenticating via client_credentials but the API says that the Service Principal doesn't have any entitlement to use Power Apps.

[2020-08-05 19:43] eshupps opened #355 "Update readme.md with instructions for merging and submitting PR's"
The instructions for submitting a connector to the repo terminate at getting the local dev environment configured. There are no steps provided for how to proceed beyond copying connector artifacts into a subdirectory. This is confusing for people who do not use Git on a regular basis. A generic statements such as "Updates to certified connectors must first be made through a pull request to the dev

[2020-08-06 23:07] #274 closed

[2020-08-06 23:10] mamurshe commented on #287
@hajekj Thanks for posting your solution. We are aware of this issue. Please feel free to add this enhancement to the CLI itself. The CLI source is open and available here: https://github.com/microsoft/PowerPlatformConnectors/tree/dev/tools/paconn-cli

[2020-08-06 23:14] mamurshe commented on #355
@eshupps you can submit a section on the documentation since it's open source. Git is a process that is well documented and out of scope for certification. Please feel free to submit a section that you think will be helpful.

[2020-08-06 23:14] #355 closed

[2020-08-07 00:30] sear-lin-avepoint commented on #274
@mamurshe closed without any update?

[2020-08-07 06:40] hajekj commented on #287
Well, I think it would make sense to add support for client_credentials flow, but that needs to be enabled on the backend first. Once it's there, I am happy to write that part. @mamurshe

[2020-08-10 12:03] mlainez commented on #225
@mamurshe any update on this issue? I noticed it was marked as bug, let me know if you need any help testing it.

[2020-08-11 19:40] daemel opened #376 "Logout does not work"
**Describe the bug**
Logout does not work

**To Reproduce**
paconn logout

**Expected behavior**
logout from existing env

**Environment summary**
c:\Users\daemel\Downloads\Code\repos>paconn --version
0.0.13

Python (Windows) 3.8.2 (tags/v3.8.2:7b3ab59, Feb 25 2020, 23:03:10) [MSC v.1916 64 bit (AMD64)]

Python location 'c:\users\*****l\appdata\local\programs\python\python38\python.exe'

**Additio

[2020-08-12 09:19] IvanBil opened #378 "git push: refusing to allow an OAuth App to create or update workflow `.github/workflows/validation.yml` without `workflow` scope"
**Describe the bug**
When I try to push the latest changes from this repository to my fork I receive output as follows:
_Total 0 (delta 0), reused 0 (delta 0)
To https://github.com/IvanBil/PowerPlatformConnectors
 ! [remote rejected] master -> master (refusing to allow an OAuth App to create or update workflow `.github/workflows/validation.yml` without `workflow` scope)
error: failed to push some

[2020-08-24 05:34] malkhawaja opened #399 "Not clear instructions for creating Facebook App especially requesting permissions"
Hi,
after creating the custom connector i am facing errors in the actions, especially "post message to page" which requires extra permissions on the Facebook App check attached screenshot.
![SharedScreenshot](https://user-images.githubusercontent.com/43861985/91007199-048ee800-e5e4-11ea-9af6-9abbd2a01f99.jpg)

or am I doing it in a wrong way?

[2020-09-11 23:28] sriyen-msft opened #446 "Please add swagger validation exception for error code 202"
PR - https://github.com/microsoft/PowerPlatformConnectors/pull/439/checks?check_run_id=1102525157

Swagger validation is failed when partner is added an error code for '202' code. Can you please provide let us know why it is not supported.

can you please add it to swagger validation exceptions as Partner is receiving 202 for some operations of their API.

[2020-09-21 14:27] yshkrishna opened #459 "Issue in documentation of Planner Connector"
Hi Team,

We have followed  [Document](https://github.com/microsoft/PowerPlatformConnectors/tree/dev/certified-connectors/Planner#planner-connector)  and now able to building the connector and found where the issue is present .

It was mentioned in the above  [Document](https://github.com/microsoft/PowerPlatformConnectors/tree/dev/certified-connectors/Planner#planner-connector) which was incorrect

[2020-10-05 08:08] nk-gears commented on #225
Atleast temporary workaround to increase the timeout in desktop client will be useful. Its very hard to develop as the token expires very soon.

[2020-11-03 18:03] e21vconci commented on #254
same bug

[2020-11-17 17:05] vaibhavrmore1 opened #571 "Schema Validation Error"
When run check for validation using, paconn validate --api-def [Location of apiDefinition.swagger.json] command, schema validation errors are coming even though the file is in working condition.

The PR is [here](https://github.com/microsoft/PowerPlatformConnectors/pull/570)

[2020-11-19 20:08] pmsousa opened #573 "Buffer Connector stopped working - HTTP 403"
**Describe the bug**
The Buffer connector is unable to read the profile json via API.

![image](https://user-images.githubusercontent.com/12728678/99718203-758a5280-2aa2-11eb-9126-b14cfe2a4bca.png)

There might have been a breaking change between 16h and 17th of September on the Buffer API.

**To Reproduce**
Create a Buffer connector, authorize with your account and add the connector to a Flow.

*

[2020-11-23 12:25] vaibhavrmore1 commented on #571
It looks like the tool is obsolete and throwing some unrequired errors.

[2020-11-23 12:25] #571 closed

[2020-11-23 15:31] pmsousa commented on #573
Buffer removed access to the API for free accounts. Original developer of the connecter should have received notice by email on September, 8th.

This connector should be removed from offers at Power Platform Marketplace and Docs.

[2020-11-23 15:31] #573 closed

[2020-12-07 18:49] hajekj opened #596 "Bundling Custom Connectors with Solutions and apiProperties.json"
We want to ship all our connectors in solutions, since it appears to be the right approach to us (versioning, deployments etc.). We authenticate our connectors with Azure AD. In order for the connector to work correctly, we need to provide both Client ID and Client Secret. Client ID is a public information, and it's fine to have it inside a solution, but with Client Secret, it's a bit tricky. Gene

[2020-12-07 19:05] hajekj opened #597 "When bundling custom connector image with solution, the image is replaced with the default one"
When the iconblob is set to a valid PNG file, the [default custom connector](https://az787822.vo.msecnd.net/defaulticons/api-dedicated.png) icon is still used.

The image is bundled in the solution ZIP file and `customizations.xml` contain the XML below which has correct paths as well:
[code]

[2020-12-16 11:10] YannickRe opened #614 "InvalidRequestContent: Could not find member 'stackOwner' on object of type 'ApiPropertiesDefinition'"
**Describe the bug**
I cannot create a new connector based on any of the certified connectors in this repository, as it always reports back the following response:
[code]

**To Reproduce**
Go into certified-connectors/Connective eSignatures, and run:
[code]

**Expected behavior**
New connector to be created in my environment.

**Additional context**
It works when I remove `stackOwner` property fro

[2021-01-09 07:51] boytoyforyou888 opened #644 "PROJECT777"

[2021-01-13 23:48] dougelliott commented on #644
It looks like there wasn't a description included with this issue, so I will go ahead and close this. Please open another issue with a detailed description if you're still experiencing a problem. Thanks!

[2021-01-13 23:48] #644 closed

[2021-01-16 18:05] iamforgit opened #660 "CSRF Token Validation Failed"
**Describe the bug**
I am connecting to SAP Demo System using Power Automate and OData connector. I am able to fetch the products successfully but while adding product I am getting error :  CSRF Token validation failed.
**To Reproduce**
Steps to reproduce the behavior.
Step 1: I am creating a flow manual start action (for testing purpose, using power apps action also gives same error).
Step 1 : Ad

[2021-01-31 12:38] iamforgit commented on #660
Anyone had answer to this?

[2021-02-01 17:05] ccpauto commented on #660
Hi @iamforgit
Please post any connector related question here: https://powerusers.microsoft.com/t5/Connecting-To-Data/bd-p/ConnectingToData

[2021-02-01 17:05] #660 closed

[2021-02-01 17:08] mamurshe commented on #614
The support for stackOwner was added in conjunction to the endpoints. Which region are you encountering this problem? For workaround please revert to an older version of paconn.

[2021-02-01 17:16] mamurshe commented on #459
Thanks for reporting!

[2021-02-01 17:18] mamurshe commented on #399
From your description and screenshot it appears you are doing it the right way. Unfortunately, Facebook requirements are beyond our control. Please contact Facebook if you have any question regarding the permission.

[2021-02-01 17:18] #399 closed

[2021-02-01 19:09] Guilhermeslucas commented on #80
Is this something we want to implement? I can help with that!

[2021-02-02 00:54] YannickRe commented on #614
@mamurshe your docs are rather limited... How do I figure out on which version I am now? How do I revert to an older version of paconn?

In any case, my issue seems to be listed as a limitation on https://github.com/microsoft/PowerPlatformConnectors/tree/dev/tools/paconn-cli#limitations

That README has been updated on August 5th, 2020 to add that limitation statement. Too bad that the official do

[2021-02-03 12:40] edguer opened #678 "[paconn] Allow client credentials authentication"
**Use case**
As a developer, I want to be able to run `paconn` from inside my DevOps pipelines. For that, I need to use an AAD Service Principal for authentication, allowing for `paconn` to run with no user interaction in a transient environment (e.g.: a short-lived Docker container).

**Additional context**
As of today, `paconn` only supports device authentication, which requires user interaction

[2021-03-02 16:53] matejskubic opened #708 "Connect with service principal"
**Is your feature request related to a problem? Please describe.**
Custom connector should provide an option to connect with service principal credentials.

**Describe the solution you'd like**
Like other standard connectors provides option to connect with service principal credentials.
![image](https://user-images.githubusercontent.com/839965/109682755-0206df80-7b7f-11eb-8fce-2037188972cd.png)
![

[2021-03-04 08:45] hajekj commented on #708
With Azure AD we have figured it out, however this doesn't work with generic OAuth2 provider. If your case is AAD, I can share the solution - however it is not officially supported by Microsoft.

/cc: @matejskubic
/related: #596

[2021-03-04 08:48] hajekj commented on #678
This would be very nice, however, Flow RP API currently doesn't support Service Principal authentication. The only way which we figured out for publishing custom connectors with client_credentials flow is via packaged solution and deploy via PackageDeployer or similar [tools](https://docs.microsoft.com/en-us/power-platform/alm/devops-build-tools).

[2021-03-24 20:14] mamurshe commented on #678
@hajekj is correct. Although we are aware of this, currently we don't have a plan to add this scenario at this moment.

[2021-03-30 11:59] dk-klein opened #745 "Array name gets put before field name/renaming arrays in custom connector"
Hello,
I have been creating a custom connector and I came upon an issue. When I define an array, custom connector automatically names fields after that array, which creates mess and is basically unusable/unreadable.
Example of OpenApi definition:
![image](https://user-images.githubusercontent.com/74151269/112982171-74f27e80-915c-11eb-8a67-357b48163815.png)
And how it looks in the custom connector:

[2021-03-30 15:34] schabungbam commented on #678
@edguer , @hajekj  - If you guys can submit a PR, we can definitely roll that in.

[2021-04-12 11:25] hajekj opened #762 "Localization of Custom Connectors"
We would like to distribute a custom connector in a solution with multiple languages (primarily labels, descriptions etc.) - how can we include translations with the Swagger definition?

Reference #274

[2021-04-14 15:19] IvanBil commented on #378
Finally, I was able to resolve the issue by removing the forked repository and do forking once again.

[2021-04-14 15:19] #378 closed

[2021-04-24 10:25] abhishekpalit09 opened #790 "Swagger for Facebook Connector Has Errors"
**Describe the bug**
Unable to create a power automate app with power platform Customer facebook connection.

**To Reproduce**
1. Go to power automate.
2. Go to Data--> Custom connections tab.
3. Click on new custom connectors icon.
4. Click on Import an OpenAPI file.
5. Select apiDefinition.swagger.json file within "\..\Custom Connection\PowerPlatformConnectors-master\custom-connectors\Facebook".

[2021-04-26 00:47] coldcanuk opened #791 "400 Client Error: Missing Object ID"
**Describe the bug**
Following Microsoft/PowerPlatformConnectors/AzureKeyVault Recipe

Created new AppRegistration as per step-by-step guide in docs.microsoft.com referenced on the github article, added the permissions
Downloaded the two JSON files, the api definitions and the api properties, modified the data inside to match the clicks I made on my side.
As per the recipe I run this command to cr

[2021-04-27 12:21] abhishekpalit09 commented on #790
Any resolution for this to use in power automate ?

[2021-04-27 19:23] ccpauto commented on #790
Hi @abhishekpalit09
I would encourage you to fix the connector and submit a fix for the community.

[2021-04-27 19:27] ccpauto commented on #762
Hi @hajekj
I am not sure custom connector supports multiple language at this moment. Please feel free to add your idea to the forum: https://powerusers.microsoft.com/t5/Power-Automate-Ideas/idb-p/MPAIdeas

[2021-04-27 19:27] #762 closed

[2021-04-27 19:29] ccpauto commented on #745
Please post UI issues in the power automate forum: https://powerusers.microsoft.com/t5/General-Power-Automate/bd-p/MPAForum

[2021-04-27 19:29] #745 closed

[2021-04-27 19:31] ccpauto commented on #708
Thanks @hajekj for the response. Please note that we have a forum as well which might be a better option get some answers for issues that are NOT related to certified connector and paconn cli. https://powerusers.microsoft.com/t5/General-Power-Automate/bd-p/MPAForum

[2021-04-27 19:31] #708 closed

[2021-05-13 13:36] asitedeveloper opened #822 "Got error while pushing code in dev branch"
I am getting error while pushing file into dev branch.
Please help us to identify the solution.

![image](https://user-images.githubusercontent.com/77782776/118133276-48e64080-b41e-11eb-8664-2667f024e5c2.png)

[2021-05-18 23:36] loryanstrant opened #826 "Office 365 Groups connector only returns 100 results"
I know that the returning of 100 results is a limitation of the Graph call, however part of the response includes the odata.nextLink which has the URL to get the next batch of 100.
Any suggestions on how to make that work with the connector?

[2021-05-21 12:39] MrFearLess98 opened #835 "Instagram Professional Connector Outdated"
Hello everyone,

I am building a flow in Power Automate to fetch the comments of a post that is related to my Instagram account. After the data is fetched I would like to store these comments in a dataverse entity.

I did all the configuration steps before testing the custom connector based on my IG ID and I am encountering the below issue:

![Capture](https://user-images.githubusercontent.com/520

[2021-05-22 03:23] williamwatfeh commented on #790
**any help on this would be appreciated,
I made changes to the swagger json file**

`basePath: /
consumes: []
host: graph.facebook.com
info: {description: A sample Facebook connector for using with the CLI., title: Facebook,
  version: '1.0'}
parameters: {}
paths:
  /trigger/me/feed:
    get:
      description: Triggers a new flow when there is a new post on your timeline.
        It is possible f

[2021-06-08 13:57] nk-gears commented on #790
@williamwatfeh Can you please send me the swaggerfile as an attachment.?

[2021-06-08 14:00] nk-gears opened #866 "Dynamic Schema not respecting the Definitions reference"
**Describe the bug**
When using Dynamic schema, the "$ref":"#/definitions/<ModelName> is considering as a Invalid OpenAPI.

![image](https://user-images.githubusercontent.com/897323/121198591-e0a94400-c88f-11eb-8382-60e6ed389949.png)

**To Reproduce**
Steps to reproduce the behavior.
- Create a Dynamic Schema and a a reference to a existing Model in the Definition

**Expected behavior**
- If this

[2021-06-08 14:02] nk-gears commented on #267
@mmurshed Closing this as i am using VPN to paconn update to resolve latency.

[2021-06-08 14:02] #267 closed

[2021-06-15 09:38] akhileshnirapure opened #885 "Generic OAuth 2.0 & Azure B2C protected API's"
Hi,

We have couple of APIs published via APIM and is protected with JWT Policy (validated against by **Azure AD B2C tenant (A)** using **user flow**. The user flow has following key configurations

1. It is configured with an Azure AD IdP of M365 tenant (B) [[OpenID Connect]](https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-azure-ad-single-tenant?pivots=b2c-user-flow)

[2021-06-15 20:53] natalie-pienkowska commented on #866
@nk-gears Thanks for submitting this bug. If you have submitted a certified connector to this repository, please send over the issue in an email to your certification contact. If you are not a certified connector owner, please submit this issue to this forum: https://powerusers.microsoft.com/t5/Connector-Development/bd-p/ConnectorDevelopment

Thank you :)

[2021-06-15 21:02] natalie-pienkowska commented on #885
Hi @akhileshnirapure thanks for submitting a bug! This repository is for submitting a custom connector, certified connector, or independent publisher connector. To get help on issues with building a custom connector, please submit your issue/question/feature request here: https://powerusers.microsoft.com/t5/Connector-Development/bd-p/PA-ConnectorDevelopment

[2021-06-15 21:04] natalie-pienkowska commented on #826
Hi @loryanstrant thanks for submitting this issue! The purpose of this repository is for custom connector submission. For questions, ideas, or feedback on existing Microsoft 1st party connectors, please go to the Power Automate forums. Thank you so much!

[2021-06-15 21:05] natalie-pienkowska commented on #835
Hi @MrFearLess98 thanks for submitting this issue! The purpose of this repository is for custom connector submission. For questions, ideas, or feedback on building a custom connector, please submit here: https://powerusers.microsoft.com/t5/Connector-Development/bd-p/ConnectorDevelopment

[2021-06-15 21:30] loryanstrant commented on #826
Thanks Natalie, but the issue/feedback isn't with the first-party connector.
This custom connector could easily be updated to handle the pagination by creating an action that takes in the skiptoken, with some guidance around how to utilise this.

[2021-06-18 11:59] nk-gears commented on #866
Thank you Natalie. Closing this

[2021-06-18 11:59] #866 closed

[2021-07-13 09:29] dev-ng opened #948 "connectionParameters section (in apiProperties.json) is dropped when Custom Connector is imported from Github"
**Type of Connector**
- [x] custom

**Name of Connector**
NSF Data

**Describe the bug**
This Connector uses a dynamic host policy. The policy is correctly implemented in apiProperties.json with parameter definition  in "connectionParameters" and it's use in "policyTemplateInstances".

However, if I create a new Custom Connector using "Import from Github" option the Host parameter is missing in th

[2021-07-22 17:21] natalie-pienkowska commented on #826
@loryanstrant For questions, ideas, or feedback on building a custom connector, please submit here: https://powerusers.microsoft.com/t5/Connector-Development/bd-p/ConnectorDevelopment

[2021-07-22 17:24] #835 closed

[2021-07-22 17:25] #826 closed

[2021-07-22 17:26] mamurshe commented on #822
Please ignore if the issue is in our repo. If the issue is in your fork, please disable this job.

[2021-07-22 17:26] #822 closed

[2021-07-22 17:28] mamurshe commented on #791
Sounds like you don't have access to the default environment for connector creation. Please try another environment or let us know if you do have access to the environment. You can specify the environment with `-e [GUID]` in the command line as well.

[2021-07-22 17:28] natalie-pienkowska commented on #948
Thanks for submitting this bug! I'll engineers will look into this for you :)

[2021-07-22 17:29] mamurshe commented on #80
@Guilhermeslucas please feel free to implement this command.

[2021-07-23 14:23] philglew commented on #948
@dev-ng Does this bug appear no matter which environment you try to use this connector in?

[2021-07-27 16:16] dev-ng commented on #948
Yep, reproduced just now in a different environment.

[2021-07-29 17:06] #885 closed

[2021-07-29 17:06] natalie-pienkowska commented on #885
Closing as this issue belongs in the forum

[2021-07-29 17:07] natalie-pienkowska commented on #791
Response was provided. In the future, please submit connector development questions to the forum: https://powerusers.microsoft.com/t5/Connector-Development/bd-p/ConnectorDevelopment

[2021-07-29 17:07] #791 closed

[2021-07-29 17:15] natalie-pienkowska commented on #614
@YannickRe This has been fixed :) It's available in 0.0.17

[2021-07-29 17:15] #614 closed

[2021-07-29 17:19] natalie-pienkowska commented on #459
@yshkrishna We have taken in this documentation bug and will prioritize accordingly to ensure that it is completed.

[2021-07-29 17:19] #459 closed

[2021-07-29 17:20] natalie-pienkowska commented on #446
@sriyen-msft can you please look into this bug and let us know if it's still valid?

[2021-07-29 17:22] natalie-pienkowska commented on #312
@eshupps Do you mind reverifying this issue with the latest version of paconn? This will help us decide on next steps :)

[2021-07-29 17:25] natalie-pienkowska commented on #198
Thank you for your feedback. We have decided not to move forward with the suggestion.

[2021-07-29 17:25] #198 closed

[2021-07-29 17:25] #197 closed

[2021-07-29 17:26] #196 closed

[2021-07-29 17:30] natalie-pienkowska commented on #80
@Cloudmersive We will create an internal documentation bug for this and prioritize internally. Thanks again!

[2021-07-29 17:30] #80 closed

[2021-07-31 16:08] Cloudmersive opened #993 "paconn Error: the JSON object must be str, not 'bytes'"
**Type of Connector**

- [ X ] certified
- [ ] custom
- [ ] independent publisher

*paconn*

**Error: the JSON object must be str, not 'bytes'**
When running this command:

`paconn create --api-prop ./apiProperties.json --api-def ./apiDefinition.swagger.json --icon ./icon.png`

We are receiving this output, which appears to be an unhandled exception in paconn:

[code]

**Is this a security bug?**

[2021-08-01 11:38] Laskewitz commented on #614
@natalie-pienkowska I updated to 0.0.18, but the stackOwner issue is still present when using paconn create.

[2021-08-04 16:13] natalie-pienkowska opened #1005 "Jira Search Connector is Not Working"
**Type of Connector**

- [ ] certified
- [ ] custom
- [x] independent publisher

**Name of Connector**
Jira Search by Paul Culmsee

**Describe the bug**
The connector is failing and has 0 successful runs. Majority of the failures are at invoking backend/JIRA APIs. Connector owner needs to check if they set the backend url properly.

**Is this a security bug?**
- [ ] yes
- [x] no

**What is the sev

[2021-08-05 07:50] paulculmsee commented on #1005
I just did a successful test of it at client site. Most likely issue is hostname param is not being set right. Make sure it is just the host name and not fqdn, eg..

![image](https://user-images.githubusercontent.com/4979626/128312532-839af940-3ecd-42c6-b91b-64876d19f982.png)

and definitely NOT

![image](https://user-images.githubusercontent.com/4979626/128312627-2294def4-27d7-4a45-861e-98d698275

[2021-08-05 17:07] mmurshed commented on #1005
@natalie-pienkowska does this resolve the issue? @paulculmsee can you update the readme?

[2021-08-05 17:10] mamurshe commented on #993
Which version of paconn are you using? Can you please send me the assets?

[2021-08-05 17:10] #312 closed

[2021-08-05 17:11] mamurshe commented on #254
Duplicate of https://github.com/microsoft/PowerPlatformConnectors/issues/790

[2021-08-05 17:11] #254 closed

[2021-08-06 13:57] natalie-pienkowska commented on #1005
Thanks, @paulculmsee, for clarifying. That totally makes sense. If you could add that to the readme.md, we'll we'll add that to the public docs :)

[2021-08-07 02:51] Cloudmersive commented on #993
@mamurshe We are using version 0.0.18

Can you provide an email address to send the files to?  Thank you

[2021-08-14 09:46] Laskewitz opened #1032 "Atlassian Jira | Response schema is missing"
**Type of Connector**

- [ ] certified
- [ ] custom
- [x] independent publisher

**Name of Connector**
Atlassian Jira

**Describe the bug**
The response schema is missing, which means no dynamic content is shown as outputs and makers have to parse JSON the response.

**Is this a security bug?**
- [ ] yes
- [x] no

**What is the severity of this bug?**
- [x] severity 1: Connector is broken or there

[2021-08-14 09:47] Laskewitz opened #1033 "Care Quality Comission Of England | Response schema is missing"
**Type of Connector**

- [ ] certified
- [ ] custom
- [x] independent publisher

**Name of Connector**
Care Quality Comission Of England

**Describe the bug**
The response schema is missing, which means no dynamic content is shown as outputs and makers have to use parse JSON to parse the response.

**Is this a security bug?**
- [ ] yes
- [x] no

**What is the severity of this bug?**
- [x] severity

[2021-08-14 09:49] Laskewitz opened #1034 "Etsy | Response schema is missing"
**Type of Connector**

- [ ] certified
- [ ] custom
- [x] independent publisher

**Name of Connector**
Etsy

**Describe the bug**
The response schema is missing, which means no dynamic content is shown as outputs and makers have to use parse JSON to parse the response.

**Is this a security bug?**
- [ ] yes
- [x] no

**What is the severity of this bug?**
- [x] severity 1: Connector is broken or th

[2021-08-14 09:49] Laskewitz opened #1035 "HubSpot CMS | Response schema is missing"
**Type of Connector**

- [ ] certified
- [ ] custom
- [x] independent publisher

**Name of Connector**
HubSpot CMS

**Describe the bug**
The response schema is missing, which means no dynamic content is shown as outputs and makers have to use parse JSON to parse the response.

**Is this a security bug?**
- [ ] yes
- [x] no

**What is the severity of this bug?**
- [x] severity 1: Connector is broke

[2021-08-14 09:50] Laskewitz opened #1036 "HubSpot CRM | Response schema is missing"
**Type of Connector**

- [ ] certified
- [ ] custom
- [x] independent publisher

**Name of Connector**
HubSpot CRM

**Describe the bug**
The response schema is missing, which means no dynamic content is shown as outputs and makers have to use parse JSON to parse the response.

**Is this a security bug?**
- [ ] yes
- [x] no

**What is the severity of this bug?**
- [x] severity 1: Connector is broke

[2021-08-14 09:52] Laskewitz opened #1037 "HubSpot Marketing | Response schema is missing"
**Type of Connector**

- [ ] certified
- [ ] custom
- [x] independent publisher

**Name of Connector**
HubSpot Marketing

**Describe the bug**
The response schema is missing, which means no dynamic content is shown as outputs and makers have to use parse JSON to parse the response.

**Is this a security bug?**
- [ ] yes
- [x] no

**What is the severity of this bug?**
- [x] severity 1: Connector is

[2021-08-14 09:54] Laskewitz opened #1038 "U.K. Government Bank Holidays | Response schema is missing"
**Type of Connector**

- [ ] certified
- [ ] custom
- [x] independent publisher

**Name of Connector**
U.K. Government Bank Holidays

**Describe the bug**
The response schema is missing, which means no dynamic content is shown as outputs and makers have to use parse JSON to parse the response.

**Is this a security bug?**
- [ ] yes
- [x] no

**What is the severity of this bug?**
- [x] severity 1:

[2021-08-17 12:29] natalie-pienkowska commented on #1005
Paul has updated the readme

[2021-08-17 12:29] #1005 closed

[2021-08-19 09:39] dev-ng commented on #948
Hi @porterhunley , @philglew , @natalie-pienkowska ,
Any update on the status/resolution for this issue? It's still reproducible in different environments.

[2021-08-19 14:26] russgove opened #1051 "Error importing Zoom openapi"
Hi,

I',m new to openapi and custom connectors.

I'm trying to import the zoom Open API file from https://raw.githubusercontent.com/zoom/api/master/openapi.v2.json.

In its "definitions" object it has a "Webhook" element  defined as

       "Webhook": {
            "type": "object",
            "description": "Webhook base object, only available for version 2 webhook",
            "required": [

[2021-08-19 15:42] porterhunley commented on #948
Hey @dev-ng , you should see the fix in two to three weeks depending on your location

[2021-08-20 20:11] russgove commented on #1051
OK, got around that issue. Looks like the enums needs to be within the items.
This worked:
               "events": {
                    "description": "List of events objects.",
                    "items": {
                        "description": "List of events objects.",
                        "enum": [
                            "meeting_started",
                            "meeting_ended

[2021-08-31 10:24] RavHilton commented on #790
Out of interest, I am seeing the exact same issue here.  :(

[2021-09-02 17:14] natalie-pienkowska commented on #1034
@troystaylor I linked your latest Etsy PR to this issue, so this issue will automatically close once the PR is merged.

[2021-09-03 11:54] nk-gears commented on #790
@williamwatfeh @abhishekpalit09

- The initial issue issue can be resolved by removing the "Accept" Parameter
- Then use Paconn cli to deploy your connector Instead of importing the SwaggerFile. Because the current Facebook Connector uses Policies to append the pagetoken to the request. Please try and let me know if you still have any issues.

![image](https://user-images.githubusercontent.com/897

[2021-09-03 12:02] nk-gears commented on #993
@Cloudmersive

Take a look at this thread. This may help you.

 https://github.com/microsoft/PowerPlatformConnectors/issues/267

[2021-09-04 21:11] troystaylor opened #1088 "[BUG] Custom Connector Swagger Error: Definition Schemas Count Exceeds 512"
### Type of Connector

Independent Publisher Connector

### Name of Connector

Xero Accounting

### Describe the bug

I am unable to save a service-provided API file that has been converted to YAML due to the service's use of definitions. I keep receiving errors when saving that have this same value for each definition:

Specified swagger has the following errors: 'Definition is not valid.  Error:

[2021-09-09 14:28] tszalaj opened #1098 "[BUG] OptiApi actions always throw "unauthenticated" error"
### Type of Connector

Independent Publisher Connector

### Name of Connector

OptiAPI

### Describe the bug

API tokens generated in OptiAPI control panel don't work in PowerAutomate connections - actions always throw "Unauthenticated" error.

### Is this a security bug?

No, this is not a security bug

### What is the severity of this bug?

Severity 1 - Connector is broken or there's a very seri

[2021-09-09 17:07] natalie-pienkowska commented on #1098
Thank you for letting us know about this issue, @tszalaj. Since this issue pertains to a certified connector, @ptalrejagithub will engage with the partner directly.

[2021-09-13 15:13] anmagnot opened #1104 "[BUG] Yelp API Validation Error"
### Type of Connector

Independent Publisher Connector

### Name of Connector

Yelp (Independent Publisher)

### Describe the bug

Added the Yelp (Independent Publisher) connector to my Dataverse environment via connections and connected with my Yelp Developer API Key. Getting the following Validation errors when attempting to run any actions in either Power Automate or Power Apps:

**Power Automa

[2021-09-14 11:19] dev-ng commented on #948
Issue is fixed. Thanks!

[2021-09-14 11:19] #948 closed

[2021-09-14 14:39] ahmadn82 commented on #1104
Hi Andrew,

Thank you for reporting this issue!
I have anticipated that this might happen, so I have pushed some updates to the connector (v 1.1). However, the updates are not pushed into production yet.
So in order to overcome this issue please provide you API key as follows:
"Bearer YOUR_API_KEY"

This should solve the problem for the time being, however once the updates are pushed into producti

[2021-09-14 16:45] anmagnot commented on #1104
Ahmad - Thanks! That fix worked. I'm now able to execute against the Yelp API form both Power Automate and Power Apps.

[2021-09-14 16:45] #1104 closed

[2021-09-15 08:16] glavincrasta10 opened #1105 "Freshservice connector showing html tags in ticket description"
A CX has pointed out that the Freshservice connector is not removing the html tags from the description sent into the ticket. This is working properly for Freshdesk connector but for Freshservice there seems to be an issue.
![image003](https://user-images.githubusercontent.com/90756201/133396543-d1893c93-9990-4c27-9138-98270923b7f3.png)

[2021-09-21 09:35] nk-gears opened #1113 "Paconn ClientSecret Update seems to be failing"
### Type of Connector

Custom Connector

### Name of Connector

Generic Connector

### Describe the bug

Updating client-secret from Paconn seems to be broken

![image](https://user-images.githubusercontent.com/897323/134147578-fd9c02a2-efcf-4ce8-9e4b-84e3cdea565a.png)

### Is this a security bug?

No, this is not a security bug

### What is the severity of this bug?

Severity 1 - Connector is bro

[2021-09-23 17:20] natalie-pienkowska commented on #1113
Thank you @nk-gears for submitting this bug. One of our engineers will be looking at this high priority bug.

[2021-09-23 17:20] ccpauto commented on #1113
Can you edit the custom connector and provide the secret? @nk-gears

[2021-09-23 17:22] natalie-pienkowska commented on #1105
Hi @glavincrasta10! Thank you for submitting this bug for the FreshService connector. @ptalrejagithub will reach out to the partner to notify them about this issue and figure out a workaround or solution.

[2021-09-23 17:24] natalie-pienkowska commented on #1088
Hi @troystaylor thanks for submitting this issue. As we discussed on Tuesday, this is a platform limitation. We will be working to add this limitation to our documentation.

[2021-09-23 17:24] #1088 closed

[2021-09-23 17:26] natalie-pienkowska commented on #1035
@Laskewitz thanks again for submitting this issue and for making sure that we are producing great connectors with little to no barrier of entry. @troystaylor and our team has tried implementing this with C# code, but unfortunately the responses are dynamic and there is no way to add schemas that would work for all.

[2021-09-23 17:26] #1035 closed

[2021-09-23 17:26] natalie-pienkowska commented on #1037
@Laskewitz thanks again for submitting this issue and for making sure that we are producing great connectors with little to no barrier of entry. @troystaylor and our team has tried implementing this with C# code, but unfortunately the responses are dynamic and there is no way to add schemas that would work for all.

[2021-09-23 17:26] #1037 closed

[2021-09-23 17:26] ccpauto commented on #1088
This is a well published limit:
https://docs.microsoft.com/connectors/custom-connectors/faq#limits
Please make use of a dynamic schema if possible or prune the unimportant parts of schema.

[2021-09-23 17:26] natalie-pienkowska commented on #1036
@Laskewitz thanks again for submitting this issue and for making sure that we are producing great connectors with little to no barrier of entry. @troystaylor and our team has tried implementing this with C# code, but unfortunately the responses are dynamic and there is no way to add schemas that would work for all.

[2021-09-23 17:26] #1036 closed

[2021-09-23 17:30] ccpauto commented on #993
Duplicate of: https://github.com/microsoft/PowerPlatformConnectors/issues/267

[2021-09-23 17:30] #993 closed

[2021-09-24 04:47] nk-gears commented on #1113
The issue exists only in the cli, whereas if i update the secret in the UI, it works well. Do you want me to share the secret ?

[2021-09-30 17:07] natalie-pienkowska commented on #1113
Thanks @nk-gears, we will let you know how to proceed. @depfeife-msft Can you please look into this issue?

[2021-09-30 17:17] mamurshe commented on #790
We released the Facebook connector as starting point. All of the validator tools are also available for testing this. Please feel free to fix and release for the opensource community if you need this connector.

[2021-09-30 17:17] #790 closed

[2021-09-30 17:22] natalie-pienkowska commented on #678
@edguer Thank you again for kicking off this conversation. We have added this to our backlog and will prioritize accordingly.

[2021-09-30 17:22] #678 closed

[2021-09-30 17:24] natalie-pienkowska commented on #146
Thanks @joem-msft for submitting this issue. We have added it to our backlog and will prioritize accordingly.

[2021-09-30 17:24] #146 closed

[2021-09-30 17:25] mamurshe commented on #162
Thanks for the report. Please review the recent API changes for Facebook and update the connector to fit you need.

[2021-09-30 17:25] #162 closed

[2021-10-19 20:34] #1034 closed

[2021-11-12 15:37] Chris-Dussourd opened #1259 "Paconn - Is there a way to create Windows Authentication using On-prem Gateway"
Type of Connector
Custom Connector

Describe the enhancement
Only Basic Authentication, API Key, and OAuth2 seem to be supported when creating a Custom Connector through paconn. Windows Authentication is an option that appears only when connecting through the on-premises gateway.

Is this a security bug?
No, this is not a security bug

To Reproduce
paconn create -s settings.json

Expected behavior

[2021-12-09 18:03] natalie-pienkowska commented on #1259
Hi @Chris-Dussourd thank you so much for raising this feature request! We have added it to our backlog and prioritized it accordingly.

[2021-12-09 18:03] #1259 closed

[2021-12-09 18:06] natalie-pienkowska commented on #1113
Hey @nk-gears do you mind retesting to see if this issue still exists? We believe that @depfeife-msft has fixed it already.

[2021-12-09 18:10] natalie-pienkowska commented on #1105
Hi @glavincrasta10 we just wanted to let you know that we have added this bug to our backlog and will prioritize accordingly. I will now be closing this issue.

[2021-12-09 18:10] #1105 closed

[2021-12-09 18:12] natalie-pienkowska commented on #1098
Hi @oliverbj! It looks like an issue has been reported for your OptiApi connector. Do you mind taking a look and helping resolve it, please?

@ptalrejagithub for awareness.

[2021-12-09 18:15] natalie-pienkowska commented on #446
@mamurshe will look to see if this is reflected in the current version of the swagger validator.

[2021-12-09 18:16] natalie-pienkowska commented on #376
@depfeife-msft when you're back from vacation, do you mind taking a look?

[2021-12-09 18:21] natalie-pienkowska commented on #287
@hajekj We may have an opportunity to contribute to this now, so we've added this to the backlog and will prioritize accordingly.

[2021-12-09 18:21] #287 closed

[2021-12-09 18:23] natalie-pienkowska commented on #225
Hi @mlainez this is very similar to this issue: https://github.com/microsoft/PowerPlatformConnectors/issues/287. We have added it to the backlog and will prioritize accordingly.

[2021-12-09 18:23] #225 closed

[2021-12-09 18:25] natalie-pienkowska commented on #201
We have added this issue to the backlog and will prioritize accordingly. Thanks again for adding this issue @joem-msft :)

[2021-12-09 18:25] #201 closed

[2021-12-09 18:27] natalie-pienkowska commented on #155
We are adding this to our repair item backlog. Thank you for the details for the issue @joem-msft

[2021-12-09 18:27] #155 closed

[2021-12-09 18:28] natalie-pienkowska commented on #147
Adding this to our repair item backlog. Thank you again for raising this issue @joem-msft

[2021-12-09 18:28] #147 closed

[2021-12-14 09:39] hajekj commented on #225
@natalie-pienkowska this one is unrelated to #287.

This (#225) issue is asking for official guidance on enabling client_credentials flow with custom connectors like some first party connectors have (eg. Connect with service principal):
![image](https://user-images.githubusercontent.com/8337913/145972505-a1fd53e7-c507-4b7f-a77b-3da0ee393c10.png)

The other (#287) issue is asking for support to cal

[2021-12-21 23:10] elgransan opened #1338 "[BUG] Seems the header x-ms-cookie-header is not working"
### Type of Connector

Custom Connector

### Name of Connector

SAP-ODATA-Demo

### Describe the bug

Hello

I tried the connector and I allways get

**CSRF token validation failed**

I tried from outside PowerApps and that error is when the cookies are not sent.

I tried changing the "x-ms-cookie-header" for "Cookie" without success.

I read about this subject googling and seems Microsoft blocks

[2022-01-05 19:31] elgransan commented on #1338
So, I don't understand the documentation or it's not clear enoght, it says to set the cookie in the 'x-ms-cookie-header' header, and the cookie header is not set anywhere

![image](https://user-images.githubusercontent.com/9949584/148276191-bd08db72-1381-4e18-9b18-c8d5cd1eb082.png)

Anyway, It didn't work form me, I could do a workaround using Power Automate instead Custom Connections from Power A

[2022-01-06 18:04] natalie-pienkowska commented on #1098
Hi @tszalaj do you mind trying out what Oliver has proposed above?

[2022-01-06 18:06] natalie-pienkowska commented on #1038
Thanks so much @troystaylor! This is so awesome and will make the connector more user-friendly to our citizen developers.

@Laskewitz for awareness :)

[2022-01-06 18:06] #1038 closed

[2022-01-06 18:11] natalie-pienkowska commented on #597
Hi @hajekj do you mind providing more context on what you're trying to do here? We don't use xml files.

[2022-01-06 18:16] natalie-pienkowska commented on #596
Hi @hajekj we need to investigate this further to come up with a viable solution. We will get back to you end of February.

[2022-01-07 19:11] elgransan commented on #1338
Ok I found my problem, I was trying this with another API call (Incident API) and I didn't realize that I have to add the endpoint to the list of actions and triggers to which the policy will apply to.

Thank you Sameer for your help and I'm sorry if my previous message sounds aggresive, I'm re-reading it and I don't like how it sounds.

I'm closing the case.

[2022-01-07 19:11] #1338 closed

[2022-01-18 09:28] DavidMeu opened #1371 "[SERVICE TEAM SUPPORT REQUEST] LogicApp custom connector test"
### Description of Feature or Work Requested

How can I check my LogicApp custom connector before publishing?

I am seeing support only for Power Platform (Power Apps) but I want to check it in LogicApp env as this is how I initially created my custom connector.

Using [paconn](https://docs.microsoft.com/en-us/connectors/custom-connectors/paconn-cli#installing) utility.

Also LogicApp custom conne

[2022-01-19 13:20] tszalaj commented on #1098
I did it and activity worked. However this is not satisfying solution. When creating OptiAPI connection, user is prompted to insert API Key. There is also a hint "Provide your API Key" - not "Provide your API key after word 'Bearer' without quotes". If I need to post a bug on Power Platform Connectors forum to get this basic information how to create a valid connection to this service, then it sho

[2022-01-19 13:41] oliverbj commented on #1098
OptiAPI have a documentation part for all our API endpoints, where this is documented:

![image](https://user-images.githubusercontent.com/7851696/150142094-f0a33ec6-1666-4cd7-bf73-c28f3d10aa54.png)

I agree, the documentation around this could be more explicit in Power Automate.

[2022-01-21 13:23] DavidMeu opened #1384 "Can't seem to be able to work with remote host"
### Description of Feature or Work Requested

I tried working with remote host which is in VPN with the params configured (url) in ```apiProperties.json``` but seems it is not responding to connect.

I've tried to use a URL which is in a VPN but receiving:
`A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed beca

[2022-01-21 20:21] natalie-pienkowska opened #1386 "CQC Data Connector Swagger String"
### Type of Connector

Independent Publisher Connector

### Name of Connector

CQC Data

### Describe the bug

The localization translator flagged a string with very poor syntax, missing periods in the whole segment. Could it be possible to update the source?  Many thanks!

"The Changes service provides a mechanism of staying informed about updates to providers and locations, to allow users to ref

[2022-01-21 20:49] troystaylor commented on #1386
PR submitted: https://github.com/microsoft/PowerPlatformConnectors/pull/1387

[2022-01-24 10:26] DavidMeu commented on #1384
Needed to open region ips

[2022-01-24 10:26] #1384 closed

[2022-01-26 08:41] hajekj commented on #708
This is now on roadmap as part of Release Wave 1 2022: https://docs.microsoft.com/en-us/power-platform-release-plan/2022wave1/power-platform-pro-development/service-principal-support-connectors

[2022-01-26 08:41] hajekj commented on #225
This is now on roadmap for Release Wave 1 2022: https://docs.microsoft.com/en-us/power-platform-release-plan/2022wave1/power-platform-pro-development/service-principal-support-connectors

[2022-02-01 05:37] amiteshSrivastava-Microsoft opened #1403 "C# created github Issue 3"
C# created github Issue

[2022-02-01 06:18] amiteshSrivastava-Microsoft opened #1405 "C# created github Issue 4"
C# created github Issue

[2022-02-01 06:19] amiteshSrivastava-Microsoft opened #1406 "C# created github Issue 4"
C# created github Issue

[2022-02-01 06:20] amiteshSrivastava-Microsoft opened #1407 "C# created github Issue 4"
C# created github Issue

[2022-02-01 06:23] amiteshSrivastava-Microsoft opened #1408 "C# created github Issue 4"
C# created github Issue

[2022-02-01 06:36] amiteshSrivastava-Microsoft opened #1409 "C# created github Issue 4"
C# created github Issue

[2022-02-02 22:20] #1403 closed

[2022-02-02 22:21] #1405 closed

[2022-02-02 22:21] #1406 closed

[2022-02-02 22:21] #1407 closed

[2022-02-02 22:21] #1408 closed

[2022-02-02 22:21] #1409 closed

[2022-02-03 18:09] natalie-pienkowska commented on #1371
Hi @DavidMeu thank you for your feedback. Please add this feature request into the Power Automate forum. We will discuss this internally in the meantime.

[2022-02-21 05:20] RedsGT commented on #376
![image](https://user-images.githubusercontent.com/1190796/154894017-e47b61f6-085d-4e4b-b86a-eda347c1e9fa.png)
@mamurshe  Seems to work fine on 0.0.15

[2022-03-02 07:38] sebastianzolg opened #1471 "Support empty user name in Basic Auth scenarios"
Hello @schabungbam,

I'd like to have a discussion with you on the Project Id. The Infura API docs state the following:

I think this discussion is as old as the web, but can we assume that a `securestring` parameter inside the Power Platform is never exposed externally, even when used in the path parameter? In other words, is the platform considered a 'secure environment'?

Having said that, the

[2022-03-07 22:18] mamurshe opened #1479 "[BUG] paconn doesn't set oauth secret correct for connectionParameterSet"
### Type of Connector

Certified Connector

### Name of Connector

NA

### Describe the bug

paconn doesn't set oauth secret correct for connectionParameterSet/

### Is this a security bug?

No, this is not a security bug

### What is the severity of this bug?

Severity 2 - One or more important connector features are down

### To Reproduce

Run paconn with a connectionParameterSet

### Expected b

[2022-03-08 02:30] kahlkevin commented on #1113
@natalie-pienkowska : I just installed via `pip install paconn` last night. This problem still exists.

@depfeife-msft : Any ETA on having this fixed and updated in the official Python pip package repos? Basically if you create a new custom connector in the UI that uses OAuth2, then use paconn to download, then upload again (perhaps to a test environment), it doesn't work since the 'oAuthSettings/

[2022-03-09 06:45] sebastianzolg opened #1484 "Documentation link on License Agreement for Independet Publisher Connectors is broken"
Hello,👋

When a user adds an _independent publisher connector_ to a flow, one must accept the license agreement first.
Within that agreement, links to the documentation of the connector are rendered incorrectly/broken.

![image](https://user-images.githubusercontent.com/12109119/157386140-9c4a4a9d-d456-4c71-be69-015692daa062.png)

Since it's a license agreement, this is unfortunate and needs a fix

[2022-03-09 19:03] sfc-gh-ngoodman opened #1485 "[FEATURE REQUEST] Move to Snowflake SQL API v2"
### Type of Connector

Custom Connector

### Name of Connector

Snowflake

### Is your feature request related to a problem? Please describe.

Snowflake had early access to this API feature (v1) and is releasing into GA a different endpoint and result format.  The original v1 endpoints will be sunset/deprecated within months so this connector should move to the new V2 version.

### Describe the so

[2022-03-09 21:12] krithsai commented on #1113
@nk-gears , Your workaround worked for me, Nirmal.

However, the issue still persists when I attempt to create a connector supporting multiple types of authentication using the instructions on this page - https://docs.microsoft.com/en-us/connectors/custom-connectors/multi-auth

[2022-03-10 19:43] natalie-pienkowska commented on #1484
Thanks @sebastianzolg. Our team is looking into this now.

[2022-03-20 08:42] wangfeifan945 opened #1515 "[BUG] <title>"
### Type of Connector

Certified Connector

### Name of Connector

JIRA

### Describe the bug

Connect to the project successful, get actions are working fine but POST actions like "CreateIssueV2" cannot test succcessful.

For example with below body value, will see schema validation issue - "Property "" type mismatch, Expected: "object", Actual: "string"."
{
	"fields": {
		"summary": "0316 create

[2022-03-22 13:38] sebastianzolg opened #1517 "Document '--script' parameter of paconn-cli"
I've reported the following improvement on the official [Microsoft Power Platform Connectors CLI](https://docs.microsoft.com/en-us/connectors/custom-connectors/paconn-cli) docs:

https://github.com/MicrosoftDocs/BusinessApplicationPlatform-Connectors-public/issues/526

The official documentation should be in sync with the [README.md](https://github.com/microsoft/PowerPlatformConnectors/blob/2a49e9

[2022-03-29 21:28] PowerAutomateEcosystems opened #1533 "Local Testing Issue 1"
C# created github Issue

[2022-03-30 07:31] PowerAutomateEcosystems opened #1534 "Test Issue 2"
Bug description -
Testing end to end flow
Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-03-30 07:41] PowerAutomateEcosystems opened #1535 "Test Issue 3"
Connector Name - AccuWeather (Independent Publisher)

Bug description -
Bug description. Testing

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-03-30 07:42] #1535 closed

[2022-03-30 07:42] #1534 closed

[2022-03-30 07:42] #1533 closed

[2022-03-30 07:54] PowerAutomateEcosystems opened #1536 "Issue 4"
Connector Name - AccuWeather (Independent Publisher)
Checking to see if gitHub returns the correct data
Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-03-30 07:55] PowerAutomateEcosystems opened #1537 "Issue 6"
Connector Name - AccuWeather (Independent Publisher)
2nd test to see if github returns correct data
Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-03-30 07:56] PowerAutomateEcosystems opened #1538 "Issue 7"
Connector Name - AccuWeather (Independent Publisher)
checking
Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-03-30 08:00] PowerAutomateEcosystems opened #1539 "Issue 7"
Connector Name - AccuWeather (Independent Publisher)

Bug description -
test 4
Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-03-30 08:01] PowerAutomateEcosystems opened #1540 "Issue 8"
Connector Name - AccuWeather (Independent Publisher)
Issue 8
Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-03-30 08:05] PowerAutomateEcosystems opened #1541 "title 2"
Connector Name - AccuWeather (Independent Publisher)
work
Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-03-30 08:31] PowerAutomateEcosystems opened #1542 "Demo Issue"
Connector Name - AccuWeather (Independent Publisher)

Bug description -
The Connector is too laggy
Is this a security bug? (Y/N)
N
What is the severity of this bug?

Low

[2022-03-30 08:32] PowerAutomateEcosystems opened #1543 "Demo Issue"
Connector Name - AccuWeather (Independent Publisher)

Bug description -
Connector is too laggy
Is this a security bug? (Y/N)
N
What is the severity of this bug?
Low

[2022-03-30 08:44] #1536 closed

[2022-03-30 08:44] #1537 closed

[2022-03-30 08:44] #1538 closed

[2022-03-30 08:45] #1539 closed

[2022-03-30 08:45] #1540 closed

[2022-03-30 08:45] #1541 closed

[2022-03-30 08:45] #1542 closed

[2022-03-30 08:45] #1543 closed

[2022-03-30 18:34] natalie-pienkowska commented on #1485
Thanks for the feedback @sfc-gh-ngoodman! We are actively working on this and are planning to have the update late April, so I will be closing this bug :)

[2022-03-30 18:34] #1485 closed

[2022-04-14 19:54] natalie-pienkowska commented on #1386
Thanks so much @troystaylor :) This change helped us localize this connector!

[2022-04-14 19:54] #1386 closed

[2022-04-19 21:54] mello3620 opened #1586 "Unable to Complete User Delegation to a Service/App Account"
### Type of Connector

Custom Connector

### Name of Connector

microsoft / PowerPlatformConnectors

### Describe the bug

I have been working with the Snowflake vendor and also our Azure & Power Apps/Automate admin to be able to connect to the Snowflake REST API using a Service/App account from PowerApps.

Has the application account level been tested using this connector via powerapps? This is t

[2022-04-28 19:37] cpaschall31 commented on #1586
This would be very useful!

[2022-04-28 19:41] charton11 commented on #1586
This would be great in order to access Snowflake through Power Apps.

[2022-04-28 19:46] docusignuma commented on #1586
This will be a great fix to ensure secure connectivity and to better utilize the Snowflake REST API feature.

[2022-04-28 19:57] trl7391 commented on #1586
This is needed to ensure appropriate connectivity with non-standard instances of Snowflake.

[2022-04-28 21:12] dereksdakota commented on #1586
We are also looking to leverage connecting to Snowflake via their new REST API from the Power Platform utilizing an app account and would use this solution.

[2022-05-03 21:14] sfc-gh-pmaric commented on #1485
@natalie-pienkowska  has this been completed?  Any update on timeline would be appreciated.  Thank you.

[2022-05-04 14:39] natalie-pienkowska commented on #1485
We are targeting early July.

[2022-05-05 22:05] Intellemerc opened #1624 "[BUG] Star wars connector Page is wrong case for all "Get all" requests"
### Type of Connector

Independent Publisher Connector

### Name of Connector

Star Wars

### Describe the bug

It looks like the star wars flow connector uses Page(uppercase P) as a query parameter but, API expects it to be lowercase page and urls are case sensitive

For Example:
https://github.com/microsoft/PowerPlatformConnectors/blob/1add4c2e55b3f09acac51ba53d0c948baa91d9ab/independent-publish

[2022-05-09 15:26] last72 commented on #1624
@Intellemerc Thanks for your contibution in this repository. I have replaced uppercase with lower case P. I haven't tested swagger file but you can see change I made here #1628

[2022-05-09 16:49] natalie-pienkowska commented on #1624
Thank you @Intellemerc for reporting this issue and @last72 for quickly taking a look and submitting a fix! :)

[2022-05-09 22:39] #1624 closed

[2022-05-13 09:56] SIKYAN opened #1643 "Custom Connector encounter 500 error on self-signed Restful API"
### Type of Connector

Custom Connector

### Name of Connector

SAP B1 Service Layer

### Describe the bug

Power Platform custom connector encounters below error on self-signed Restful API.

{
"error": {
"code": 500,
"message": "The underlying connection was closed: Could not establish trust relationship for the SSL/TLS secure channel.",
"source": "asia-001.azure-apim.net",
"path": "forward-reque

[2022-05-17 11:01] jhan-zaib opened #1652 "Updated connector not reflecting on https://docs.microsoft.com/en-us/connectors/signinghub/"
Hi,

SigningHub connector is recently updated on GIT in certified-connectors list by MS Review team. But after merging into Microsoft repo, this is still reflecting older information on https://docs.microsoft.com/en-us/connectors/signinghub/

Guide us, when and how changes will be updated there?

Thanks,
Jhan Zaib

[2022-05-24 09:05] jhan-zaib commented on #1652
any update on above?

[2022-05-24 18:29] microsoft-github-policy-service[bot] opened #1678 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-24 22:54] Amjed-Ayoub commented on #1652
Hi @jhan-zaib thank you so much for reaching out. Your pull request is approved and merged. Please [submit the files to ISV Studio](https://docs.microsoft.com/en-us/connectors/custom-connectors/submit-for-certification#submit-to-isv-studio) using your latest commit id, please allow us 1-2 weeks to review your submission, and our Engineers will notify you in the “Activity Control” area in ISV Studi

[2022-05-25 10:41] tszalaj commented on #1098
Well, this is not user friendly solution, especially when you actually can add word "Bearer" to the API key when it's not present. But at least this thread explains what to do with the Unauthenticated error.

[2022-05-25 10:41] #1098 closed

[2022-05-26 05:31] MandarbZA commented on #597
Hi
I can confirm this happens. We have a connector that we built to talk to the Microsoft Graph API for Teams and AAD Groups.
In our Dev environment it looks like this:
![image](https://user-images.githubusercontent.com/15384759/170421924-f4b9d4a4-488a-4879-aa2a-5f659914a46f.png)

The connector is exported from Dataverse in a managed or unmanaged solution zip file. The file contains these files:

[2022-05-26 13:52] jhan-zaib commented on #1652
Hi @Amjed-Ayoub ,

We are getting this error while submission connector from ISV Studio
![image](https://user-images.githubusercontent.com/1198662/170501339-ddf1f10c-ff7a-4a80-bf1a-448cb2421e0b.png)

Check that what could be the reason here.

Regards,
Jhan Zaib

[2022-05-30 06:42] henningeiben opened #1694 "Support additional authentication in paconn-cli"
In order to use the paconn-cli within DevOps pipelines there must be other authentication-methods than browser.

[2022-06-07 19:12] v-EgorKozhadei commented on #1652
Hi @jhan-zaib,

Thank you for providing the screenshot!
It looks like the apiProperties.json file has some indentation issues and the order of properties differs from [the template](https://github.com/microsoft/PowerPlatformConnectors/blob/dev/templates/certified-connectors/apiProperties.json). Also the publisher property contains a whitespace.

Can you please update this file by raising a quick P

[2022-06-08 10:23] jhan-zaib commented on #1652
Hi @v-EgorKozhadei ,

Check this PR https://github.com/microsoft/PowerPlatformConnectors/pull/1395. While submission, all indentation or whitespace issues were resolved but similar error faced. Support guy told that ignore this error and they merged it.

Now on ISV Studio, same error stuck again. Let me know how we would proceed further because your raised points are already resolved.

Regards,
Jh

[2022-06-14 01:37] sfc-gh-ymao opened #1721 "[BUG] Inaccurate documentation needs to be updated"
### Type of Connector

Certified Connector

### Name of Connector

custom connector

### Describe the bug

The procedure in the URL below is inaccurate.

https://github.com/microsoft/PowerPlatformConnectors/tree/dev/custom-connectors/Snowflake

The contents to be corrected is Step1:
In [Step 1: Configure the OAuth Resource in Azure AD](https://docs.snowflake.com/en/user-guide/oauth-azure.html#step

[2022-06-15 20:33] parclarke opened #1733 "Missing redirect URL in application registration."
Hi when I try to sign in using a Flow I get the following error: Missing redirect URL in application registration.
I have verified that the following Redirect URL https://global.consent.azure-apim.net/redirect is in our ServiceNow application registry.
Am I supposed to use a Flow Url instead?

[2022-06-20 10:22] atraining opened #1748 "[BUG] Certified Connector Page names connector "preview""
### Type of Connector

Certified Connector

### Name of Connector

https://docs.microsoft.com/de-de/connectors/documentaikonfuzio/

### Describe the bug

The connector has been certified and merged: https://github.com/microsoft/PowerPlatformConnectors/pull/919

### Is this a security bug?

No, this is not a security bug

### What is the severity of this bug?

Severity 3 - Minor issue

### To Repro

[2022-06-20 16:02] parclarke commented on #1733
There was a typo in the application registry but now I'm getting the following error:
Server Error in '/' Application.
The length of the query string for this request exceeds the configured maxQueryStringLength value.

[2022-06-22 21:02] v-EgorKozhadei commented on #1652
Hi @jhan-zaib, @AscertiaDev!
I downloaded the artifacts and looked at the files. I think that the reason is a missing comma sign in apiProperties.json file.
This is the error that I've got while examining the file:
`After parsing a value an unexpected character was encountered: ". Path 'properties.connectionParameters.token.oAuthSettings.customParameters.tenantId', line 24, position 12.`

Could yo

[2022-06-24 11:59] SmolSoftBoi opened #1763 "[BUG] ShipStationIP Basic Authentication"
### Type of Connector

Independent Publisher Connector

### Name of Connector

ShipStationIP

### Describe the bug

The API definition has basic authentication, but this is not asked for?

### Is this a security bug?

No, this is not a security bug

### What is the severity of this bug?

Severity 1 - Connector is broken or there's a very serious issue

### To Reproduce

Add a connection, no basic

[2022-07-05 18:26] v-EgorKozhadei commented on #1652
Hi @jhan-zaib, @AscertiaDev!

I'm just following up to see if everything is fine and the error is gone.
Did my comment above help you?

Please let me know if you're still facing some issues!

[2022-07-05 18:44] natalie-pienkowska commented on #1763
Thank you @SmolSoftBoi for submitting this issue! @Amjed-Ayoub will take a look at this issue with his team and then get back to you with an update.

[2022-07-05 18:46] natalie-pienkowska commented on #1733
Hi @parclarke! Thanks for submitting this issue. It looks like this issue has to do with the existing connector ServiceNow. Please submit your question to the forum to get help:  https://powerusers.microsoft.com/t5/Using-Connectors/bd-p/ConnectingToData

[2022-07-05 18:46] #1733 closed

[2022-07-05 23:29] Amjed-Ayoub commented on #1748
Hi @atraining, thank you so much for reaching out. Unfortunately, your connector is not eligible for GA due to a low success rate (0%). No active connections have been made recently which will reduce the success rate.
I would suggest you make sure that your connector is being used for a good amount of time before moving to GA.
Please let me know if you have any questions.
Thank you again for your

[2022-07-06 06:05] atraining commented on #1748
Hi @natalie-pienkowska & @Amjed-Ayoub! Thank you very much for this insight! We'll make sure to meet the criteria and then come back.

[2022-07-06 08:23] ravikiran-srini opened #1781 "Understanding the process in the independent publisher connectors."
### Description of Feature or Work Requested

Contradiction in docs.

This link says that both independent publishers and verified publishers can certify get a connector certified
https://docs.microsoft.com/en-us/connectors/custom-connectors/submit-certification#who-is-eligible-to-get-a-connector-certified

This link (answer to Q1) says that you need to own an API or have exclusive rights to certi

[2022-07-06 21:20] Amjed-Ayoub commented on #1763
Hi @SmolSoftBoi, Thank you so much for reaching out. Please allow me some time to work with our engineers on this. Please expect to hear back from me soon.
Thank you so much again for your patience and understanding.

[2022-07-07 14:30] natalie-pienkowska commented on #1781
Thanks for your question and for calling out this confusing point. I will have our team address this immediately.

Both verified publishers and independent publishers can get their connector certified (reviewed and approved by Microsoft) and published (released to the Power Platform).

You need to own the API in order to have it certified and published as a Verified Publisher Connector. You do not

[2022-07-08 12:50] v-EgorKozhadei commented on #1652
Hi @jhan-zaib, @AscertiaDev!

I'm sending another follow-up message to see if you had a chance to read my comment above.

Please let me know if have any questions or need help!

[2022-07-09 01:32] v-aangie commented on #1781
@ravikiran-srini - Thanks for your feedback. We have updated the docs to fix information about certifying as an independent publisher in https://docs.microsoft.com/en-us/connectors/custom-connectors/faq#certification and the content is now live. Closing this issue.

[2022-07-10 21:50] #1781 closed

[2022-07-11 16:48] thacold1 opened #1797 "connecting to GCC-H tenants"
when running paconn -login it provides a devicecode for .com tenants only. Do we have a way to generate a .us device code...(https://microsoft.com/deviceloginus)

[2022-07-12 22:21] asrvstv5 opened #1801 "Etsy (Independent Publisher) issue"
Api Name - shared_etsy

Bug description -
Creating a Dummy Issue.

Is this a security bug? (Y/N)
N
What is the severity of this bug?
Very Low

[2022-07-12 22:21] #1801 closed

[2022-07-13 21:11] v-EgorKozhadei commented on #1763
Hi @SmolSoftBoi,

Thank you for submitting an issue!

I was able to reproduce the bug. I analyzed connector files and found a few things.

For creating a connection with [Basic Authentication](https://docs.microsoft.com/en-us/connectors/custom-connectors/connection-parameters#basic-authentication) we need a username and a password. In the [apiProperties file](https://docs.microsoft.com/en-us/conne

[2022-07-16 18:49] SmolSoftBoi commented on #1763
Fixed in #1813

[2022-07-18 19:04] v-EgorKozhadei commented on #1652
Hi @jhan-zaib, @AscertiaDev!

I'm sending one more follow-up message to see if everything is fine.

Please let me know if have any questions or need help!

[2022-07-19 12:35] AscertiaDev commented on #1652
Hi @v-EgorKozhadei  thank you for pinging us.
We are currently working on another item and will attemp the above fix shortly and will revert back to you.
Thank you

[2022-07-20 09:02] philstubbington opened #1822 "Paths/Accounts issue - flattening file due to limitations of power platform"
// missing property "name" ln 27, col 9 (what shows as $ref below)

code is as follows....

"paths": {
    "/Accounts": {
      "parameters": [
        {
          "$ref": "#/parameters/requiredHeader",
          "type": "string"
        }
      ],

I think the problem is either the "type" shown on line 10 above, or..... if you command-click to the definition....

"parameters": {
    "requiredHead

[2022-07-20 18:07] asrvstv5 opened #1826 "AccuWeather (Independent Publisher) issue"
Api Name - shared_accuweatherip

Bug description - Test Bug #2

Is this a security bug? (Y/N)
N
What is the severity of this bug?
Low

[2022-07-20 18:07] #1826 closed

[2022-07-23 12:48] sekharmalla opened #1832 "How to handle API key without parameter name when building [Independent publisher connector ]"
Hello wonderful team,

i hope everything going well with you,

i will come straight to the point, i was trying to build a independent publisher connector and i have small issues while developing, The service api i am using have the apiKey without any parameter name how do I handle this type of url ? They have mentioned it should be in the query but not in headers,

Thanks in advance,

[2022-07-23 12:53] troystaylor commented on #1832
Can you share which API it is? So the query is something like …/action?{apiKey} ?

[2022-07-23 12:57] sekharmalla commented on #1832
Hello @troystaylor,

thanks for your quick response :)

here is how actual URL looks

https://imdb-api.com/en/API/Search/k_y7v36i61/lost

But when testing I noticed in swagger definition request url as below

https://imdb-api.com/en/API/Search/lost/apiKey=k_y7v36i61

[2022-07-23 13:04] troystaylor commented on #1832
I’m AFK, but I believe you can use route request policy to accomplish this: https://docs.microsoft.com/en-us/connectors/custom-connectors/policy-templates/routerequesttoendpoint/routerequesttoendpoint
I would suggest that you use no authentication, then download the connector and add a connection parameter for the apiKey, then upload it, after which the connection parameter would be available to t

[2022-07-23 13:09] sekharmalla commented on #1832
Alright, I did try but it showed no effect, anyway, I will try your suggestion and see if it works and will update you on the status.

and can you tell me how I can use apiKey parameter in the route policy template in new path

Thanks

[2022-07-23 13:16] troystaylor commented on #1832
Use the second example:

https://test.abc.xyz/get/{id} | /@queryParameters('version')/get/{id} | https://test.abc.xyz/v2/get/{id}

You don’t want the user to have to enter the apiKey for every action, so instead of the query parameter it will be a connection parameter in the same format:

/Search/@connectionParameters(‘apiKey’)/lost

[2022-07-23 13:18] troystaylor commented on #1832
When you uploaded it with paconn, it uploaded successfully to the right connector?

[2022-07-23 13:21] sekharmalla commented on #1832
I am trying to upload via 'Import an OpenApi file' in the Custom connector section and it throwing me this below error i believe i need to use paconn,

<img width="589" alt="image" src="https://user-images.githubusercontent.com/43902003/180606845-980840da-5d76-4370-a4a0-0b6856561e7b.png">

[2022-07-23 13:24] troystaylor commented on #1832
Ok, you need to download the connector you have built and update the apiProperties file.

https://docs.microsoft.com/en-us/connectors/custom-connectors/paconn-cli#download-custom-connector-files

[2022-07-23 13:26] sekharmalla commented on #1832
understood! I will do that and will update the status.

thanks :)

[2022-07-23 13:57] sekharmalla commented on #1832
I have updated the Connection parameters as per your suggestion and updated the connector via paconn.

<img width="605" alt="image" src="https://user-images.githubusercontent.com/43902003/180608175-dc05e446-ccfb-4170-ac98-c4a99f2f755a.png">

however, It seems policy still did not detect it. i got below error

`{
  "error": {
    "code": 500,
    "message": "Invalid parameters template. No property

[2022-07-23 14:15] troystaylor commented on #1832
Can you share the paconn update successful command screenshot?

[2022-07-23 14:17] sekharmalla commented on #1832
sure  here

<img width="841" alt="image" src="https://user-images.githubusercontent.com/43902003/180608925-7feb16fe-553e-4188-9cc4-e821589ac298.png">

[2022-07-26 08:18] mattbze opened #1835 "[BUG] Jira Search (Independent Publisher) - 401 Unauthorized due to deprecated authentication type"
### Type of Connector

Independent Publisher Connector

### Name of Connector

Jira Search

### Describe the bug

This connector is no longer able to authenticate with Jira Cloud. This is due to Jira Cloud deprecating basic auth for API requests.

{
  "error": {
    "code": 401,
    "source": "uk-001.azure-apim.net",
    "clientRequestId": "53605c25-1ca8-41fb-b895-cdd8365da606",
    "message": "Th

[2022-07-28 16:25] natalie-pienkowska commented on #1835
Hi @paulculmsee are you aware of this issue?

[2022-07-31 16:10] sekharmalla opened #1849 "Some checks were not successful while updating Independent Publisher Connector"
Hello Dear Team,

I hope you all are doing great :)

This weekend I have updated a few Notion Actions and was trying to commit for verification however I am facing an error as Some `checks were not successful` i will add the failed link below.

https://github.com/microsoft/PowerPlatformConnectors/commit/6c4fe550d69466a4a97200b6b5fb8f8b07937f32

only thing i have updated is the swagger definition a

[2022-08-01 08:47] paulculmsee commented on #1835
No and I no longer have access to a Jira cloud instance to confirm as my client switched back to Jira Datacenter (onprem).

I'll have to spin up a demo instance and test but the docco here suggests that api token will work with basic auth. If anyone has a chance to confirm/replicate this please let me know.

https://developer.atlassian.com/cloud/jira/platform/basic-auth-for-rest-apis/

[2022-08-01 12:20] troystaylor commented on #1849
I've noticed you've introduced a number of blank titles and default response schemas. I would start by fixing those. If you are still getting validation errors, please paste them here and I'll take a look.

[2022-08-01 12:24] sekharmalla commented on #1849
Hi @troystaylor,

Thank you for your response,

I think there is a misunderstanding because I have got `apiDefinition.swagger.json validated successfully.` message in CLI

there is something that happened during pushing it to my dev branch. it went as commit to this repository.

<img width="1374" alt="image" src="https://user-images.githubusercontent.com/43902003/182146722-18657aac-8404-4ddf-9cd1-

[2022-08-01 13:55] sekharmalla commented on #1849
alright Thanks @troystaylor,

As you said i did undo my commit however, to merge! one of my (SHRTCODE) https://github.com/microsoft/PowerPlatformConnectors/pull/1792 connector is still in deployment that said i am not able to merge,

also thanks for the tip about creating new branch in my fork and commit changes to it, as you suggested i have created a new branch under dev called `Notion` and push

[2022-08-01 14:30] troystaylor commented on #1849
As long as that branch has just the files for Notion, you should be good to create the PR.

[2022-08-01 14:45] sekharmalla commented on #1849
Right, @troystaylor

I have checked and their only Notion files only update remaining files and folders are the same as Dev but after opening new PR it's failed and have these error,

<img width="1374" alt="image" src="https://user-images.githubusercontent.com/43902003/182175987-da6440ab-6d92-47e0-96bc-24f6900b2965.png">

can you tell me what went wrong?

Thanks

[2022-08-01 14:52] troystaylor commented on #1849
Those breaking changes will need to be confirmed by the connector team, which now that you've opened the PR, they'll be able to communicate that with you. You should hear from them in the next 24-48 hours.

[2022-08-01 14:54] sekharmalla commented on #1849
Thank you very much @troystaylor for all your help,

I really appreciate it.

Thanks, I am closing this issue now. 👍🏼

[2022-08-01 14:54] #1849 closed

[2022-08-01 17:36] sekharmalla commented on #1832
Hello team,

is there any help I can get?

I want to understand how to get through with this.

thanks

[2022-08-02 17:42] troystaylor opened #1861 "[BUG] Policy details missing Body field"
### Type of Connector

Independent Publisher Connector

### Name of Connector

Open Charge Map (Not yet submitted)

### Describe the bug

This connector that I am building requires only POST actions to also pass an Authorization header. This Authorization can be retrieved from a URL, so I am using the 'Set header/query parameter value from URL (Preview)' template. While the HTTP Method field has G

[2022-08-07 22:01] msp4msps opened #1871 "Support client credentials grant type"
### Type of Connector

Custom Connector

### Name of Connector

Custom OAuth

### Is your feature request related to a problem? Please describe.

I have a few 3rd party apps that use the client credentials grant type. Because of this, I am unable to successfully add them as a custom connector. The workaround is to just call them directly with the HTTP action in the flow itself but it is extremely

[2022-08-07 23:32] ThePoShWolf opened #1872 "[BUG] Square Payments is unable to authorize"
### Type of Connector

Independent Publisher Connector

### Name of Connector

Square Payments

### Describe the bug

I created a Logic App workflow and added in a Square Payments action. When I attempt to authorize myself, I'm met with the following error:

![image](https://user-images.githubusercontent.com/30065933/183315178-4dba49d3-306e-4752-9c65-afb7317c781c.png)

Here is the full url:

[code

[2022-08-08 13:20] troystaylor commented on #1872
Thank you, Anthony, for alerting me to this issue. Let me check with the deployed files and recreate a login. Expect a fix to be submitted within the next few days.

[2022-08-08 13:46] ThePoShWolf commented on #1872
No problem! Thanks for the quick response and for the other connectors that you've released. Your work has made mine a lot easier 😃

[2022-08-09 16:47] troystaylor commented on #1872
This should be resolved with this PR: https://github.com/microsoft/PowerPlatformConnectors/pull/1878

[2022-08-09 22:16] asrvstv5 opened #1880 "DadJokesIO (Independent Publisher) issue"
Api Name - shared_dadjokesioip

Bug description - not enough dad jokes

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-08-10 12:46] troystaylor commented on #1880
Hi Amitesh,
This isn't a bug. My connector for this service includes all 18175 jokes available through the service.
Thanks,
Troy

CC: @natalie-pienkowska, please close.

[2022-08-11 12:33] troystaylor opened #1882 "[BUG] Four policies for single action don't work"
### Type of Connector

Independent Publisher Connector

### Name of Connector

TP-Link Cloud (Not yet submitted)

### Describe the bug

For this API to be set, it requires two policies to be set:

1. Route all requests to the base URL:
![image](https://user-images.githubusercontent.com/44444967/184131958-b22b4aa1-3e6b-434e-aaa5-cc9d93037670.png)

2. Set a property for each action within the POST b

[2022-08-11 16:01] anaahaat opened #1883 "Coinbase (Independent Publisher) issue"
Api Name - shared_coinbaseip

Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-08-11 16:03] anaahaat opened #1884 "Open Charge Map (Independent Publisher) issue"
Api Name - shared_openchargemapip

Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-08-12 16:38] davidcmelo8 opened #1886 "Ambee (éditeur indépendant) issue"
Api Name - shared_ambeeip

Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-08-12 17:28] troystaylor commented on #1886
@natalie-pienkowska please close.

[2022-08-12 17:28] troystaylor commented on #1884
@natalie-pienkowska please close.

[2022-08-12 18:39] natalie-pienkowska commented on #1886
Closing as this looks like spam

[2022-08-12 18:39] #1886 closed

[2022-08-12 18:39] natalie-pienkowska commented on #1884
Closing because it looks like spam

[2022-08-12 18:39] #1884 closed

[2022-08-14 15:32] Narizz28 opened #1887 "[BUG] 403 response using 'Update an adaptive card in a chat or channel'"
### Type of Connector

Certified Connector

### Name of Connector

Update an adaptive card in a chat or channel

### Describe the bug

Always get the error:
The ID of the user attempting to edit the message, ID:<my_user_id_here> does not match the actual user ID of the original sender, ID:

There is nothing after the Second ID in the error, like it doesn't know what the FlowBot ID from the origina

[2022-08-22 18:58] Narizz28 commented on #1887
Seems to actually be a bug in the "Post adaptive card and wait for a response" action not setting the sending user ID.

[2022-08-23 14:18] echiriboga opened #1902 "Open Charge Map (Independent Publisher) issue"
Api Name - shared_openchargemapip

Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-08-24 04:11] Zain5316 opened #1904 "Discord (Independent Publisher) issue"
Api Name - shared_discordip

Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-08-24 04:11] #1904 closed

[2022-08-24 08:22] chungvinh77 opened #1905 "AccuWeather (Independent Publisher) issue"
Api Name - shared_accuweatherip

Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-08-24 15:28] Ostars-eye opened #1910 "Binance.us (Independent Publisher) issue"
Api Name - shared_binanceusip

Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-08-25 00:14] troykw1 opened #1911 "SOS Inventory (Independent Publisher) issue"
Api Name - shared_sosinventoryip

Bug description - My Bug

Is this a security bug? Y

What is the severity of this bug? High

[2022-08-25 00:15] troykw1 opened #1912 "SOS Inventory (Independent Publisher) issue"
Api Name - shared_sosinventoryip

Bug description - TKW Bug

Is this a security bug? Y

What is the severity of this bug? High

[2022-08-25 04:42] RoyPaarMS commented on #1910
Hi @Ostars-eye, sorry I don't see any details in the issue you logged.  Did you find a bug?

[2022-08-29 18:56] Ostars-eye commented on #1910
N - Core

[2022-08-29 18:58] Ostars-eye opened #1920 "[BUG] <title>"
### Type of Connector

Custom Connector

### Name of Connector

Core

### Describe the bug

hash = Darkcode

### Is this a security bug?

Yes, this is a security bug

### What is the severity of this bug?

Severity 2 - One or more important connector features are down

### To Reproduce

search

### Expected behavior

[https://caminhodoguerreiro.com/3caaN4g](url)

### Environment summary

Install M

[2022-08-30 16:46] #1678 closed

[2022-08-30 20:43] ben741 opened #1925 "[BUG] InternalServerError when using script"
### Type of Connector

Custom Connector

### Name of Connector

Any (in development)

### Describe the bug

When developing a connector and using custom scripting, operations frequently fail with an `InternalServerError` message and no further details.

This even happens for a trivial script that just forwards the request:

[code]

It tends to happen more often for "cold starts" - a second request

[2022-08-31 03:54] chenshuhang37 opened #1930 "NEOWs (Independent Publisher) issue"
Api Name - shared_nearearthobjectwebip

Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-09-05 01:34] ThePoShWolf commented on #1872
@troystaylor I saw that the PR was merged 3 days ago, but I'm still getting an error when trying to authenticate the Square Payments connector in a Logic App:

![image](https://user-images.githubusercontent.com/30065933/188343377-a0d9282c-4b31-4588-a4af-d2dbefc0c2e7.png)

Is it supposed to be pointed at the sandbox URL?

[2022-09-07 17:41] v-EgorKozhadei commented on #1763
Hello @SmolSoftBoi,

Closing the issue because it was fixed in the PR mentioned above.

Please let us know by reopening the issue if there are any problems.

[2022-09-07 17:41] #1763 closed

[2022-09-08 13:17] troystaylor commented on #1872
When you go to your [Square Applications](https://developer.squareup.com/apps), there will be a button to open your Sandbox account:
![brave_VGzdPIwWV1](https://user-images.githubusercontent.com/44444967/189131894-62e48474-cdb2-47e9-942a-dfa7953e1afb.png)

[2022-09-08 13:57] ThePoShWolf commented on #1872
Ah, ok, I went ahead and did that and got past the previous screen.

However, now it is showing the following error again:

![image](https://user-images.githubusercontent.com/30065933/189140977-b368413c-8edd-4bee-abb7-b382ec4a013e.png)

[2022-09-09 05:58] Niels-SL opened #1955 "BadRequest. Http request failed: the content was not a valid JSON"
### Type of Connector

Independent Publisher Connector

### Name of Connector

VIES (Independent Publisher)

### Describe the bug

I am not sure, if this is an issue with the connector or VIES (VAT Information Exchange System) in general.

I get the error below, when I use the connector. However, I also tried using a HTTP request to do the same as the connector, but that throws an _internal server

[2022-09-09 12:19] troystaylor commented on #1955
@tposzytek - Do you have any information about an API change or service disruption?

[2022-09-09 15:32] tposzytek commented on #1955
Yes, the endpoint is changed and the response format. I am working on a fix. It will be ready this week, Monday next week.

Best regards,

Tomasz Poszytek

e-mail: ***@***.***
tel: +48 603 993 372
www/ blog: https://poszytek.eu
twitter: @TomaszPoszytek
________________________________
From: Troy Taylor ***@***.***>
Sent: Friday, September 9, 2022 2:19:37 PM
To: microsoft/PowerPlatformConnectors **

[2022-09-09 21:30] jtaki opened #1957 "Strava (Independent Publisher) issue"
Api Name - shared_stravaip

Bug description -
Can't authenticate with Strava through connector. Returns bad request for redirect URI
`{
"message": "Bad Request",
"errors": [
{
"resource": "Application",
"field": "redirect_uri",
"code": "invalid"
}
]
}`

Is this a security bug? (Y/N)
N

What is the severity of this bug?
2. Major feature prohibiting use of connector.

[2022-09-09 22:09] troystaylor commented on #1957
@RichardWie - are you able to assist with this?

[2022-09-11 07:36] truespinmice commented on #1887
The same scenario and the same error on my end: "_update adaptive card The ID xxxxxxxxxxxxxxx of the user attempting to edit the message, ID does not match the actual user ID of the original sender_".
The only difference is that I'm using Logic Apps not Power Automate. But I tested it using PA also and the result was exactly the same.

It's causing real issues with our business processes so I hope

[2022-09-12 06:47] Niels-SL commented on #1955
Sounds great, @tposzytek.

I was looking for documentation about any API change, but I couldn't find it.

Will the fix automatically be applied to existing flows using the connector?

[2022-09-12 07:08] tposzytek commented on #1955
@troystaylor would you have an idea, why custom connector validation works fine, but then action in cloud flow fails due to: "Http request failed: the content was not a valid JSON. Error while parsing JSON: 'Unexpected character encountered while parsing value: O. Path '', line 0, position 0.'"? I have no idea how to debug it.
![2022-09-12_09-08-20](https://user-images.githubusercontent.com/506579

[2022-09-12 07:16] tposzytek commented on #1955
ok, looks like the issue got resolved by itself... Weird :)

[2022-09-12 08:02] tposzytek commented on #1955
Pull request created: https://github.com/microsoft/PowerPlatformConnectors/pull/1960.

@Niels-SL yes, after the PR is approved and published existing actions will work again. The only change is related to the custom code behind the connector.

[2022-09-12 12:01] RichardWie commented on #1957
You will need an CLIENTID (can't submit the connector with my key).
I'm not sure what the best way is for adding it, but it should be added to the apiProperties.JSON file

[2022-09-13 16:37] tposzytek opened #1963 "[SERVICE TEAM SUPPORT REQUEST] Unable to download connector using paconn download"
### Description of Feature or Work Requested

Hi, I am facing an issue trying to download any connector from my environment. It was working fine yesterday, today I am seeing an error:
HTTPSConnectionPool(host='paeu2weu8.blob.core.windows.net', port=443): Max retries exceeded with url: /api-swagger-files/working-20days-5f4852aa71f2f6363c-5fefd1edd798a27c02.json_original?sv=2018-03-28&sr=b&sig=mC1aq

[2022-09-13 16:40] #1963 closed

[2022-09-13 16:41] tposzytek commented on #1963
Sorry, I was connected to VPN that messed with certification authority :)

[2022-09-14 09:07] Niels-SL commented on #1955
@tposzytek can you share the new endpoint and the request body, if anything has changed there? I can't seem to find any documentation.

Before I started using your connector I used a HTTP action with the below URI and Body which also worked.

![image](https://user-images.githubusercontent.com/46558783/190111492-44ca66c4-65d0-48dc-ab68-6d1abf506cbf.png)

[2022-09-14 10:25] tposzytek commented on #1955
Hey, the body itself hasn't changed. I noticed that the old request URL is not working. It's now /CheckVatTestService. At least that one works fine.

Best regards,

Tomasz Poszytek

e-mail: ***@***.***
tel: +48 603 993 372
www/ blog: https://poszytek.eu
twitter: @TomaszPoszytek
________________________________
From: Niels-SL ***@***.***>
Sent: Wednesday, September 14, 2022 11:07:39 AM
To: microsof

[2022-09-14 12:59] Niels-SL commented on #1955
I keep getting a 405 Method Not Allowed.

Ah well. I look forward to the fix being applied to your connector.

[2022-09-15 03:41] #1957 closed

[2022-09-15 12:44] truespinmice commented on #1887
Got an update from Microsoft:
_It's a known issue at MS side as well and our senior team is working on it.
Last update on internal ticket with engineering team states changes may take 3-4weeks time.
Updated on - 2022-09-07 00:34:30 IST_

So hopefully in the next 3-4 weeks it will be fixed. Will keep you posted.

[2022-09-16 07:13] Niels-SL commented on #1955
It's suddenly working for me again using the original URI (without the 'Test' part). 

However, I had to add some headers in the HTTP request for it to work this time around. Otherwise it keeps timing out and retries. It seems the API is really slow. It takes me up to 18 seconds to get a response. 

![image](https://user-images.githubusercontent.com/46558783/190578681-ae9d5308-f39f-4060-b838-35afd

[2022-09-16 12:02] tposzytek commented on #1955
No idea. I couldn't find info about that endpoint without the "test" part in their docs. Also, that endpoint wasn't working when I was testing it with Postman. I tried the other one and it worked. Therefore, the new release of the connector is utilizing it.
But if there's any change, I am happy to update it again 🙂

Best regards,

Tomasz Poszytek

e-mail: ***@***.***
tel: +48 603 993 372
www/ blog

[2022-09-19 16:48] waterskijubilant commented on #1887
I just tested this and it's working as expected now!

[2022-09-19 18:58] Narizz28 commented on #1887
@waterskijubilant What exact actions did you test? I just tried again and I'm still getting the same error. "Post_adaptive_card_and_wait_for_a_response" -> Submit Button (Action.Submit) pressed -> "Update_an_adaptive_card_in_a_chat_or_channel" is what I'm testing. The "Update an adaptive card..." is the action that fails with the 403 "The ID of the user attempting to edit the message, ID:<my_user_

[2022-09-19 19:06] waterskijubilant commented on #1887
@Narizz28
I used the "Post adaptive card and wait for a response" action then the "Update an adaptive card in a chat or channel" action to update the card.

I was trying to do this Friday and I was getting the same error as you, but I tried it again today and it's working now.

Here is a screenshot of what I have set up.

![Screenshot 2022-09-19 150527](https://user-images.githubusercontent.com/89

[2022-09-19 20:01] Narizz28 commented on #1887
I too just got it to work, but I had to create new flow.

[2022-09-19 20:19] BongoEADGC6 commented on #1887
Just adding some info. Using "Save as", nor replacing the action with the same action within a flow, does not fix this issue.

[2022-09-19 21:03] Narizz28 commented on #1887
Good Context @BongoEADGC6. I think that's why my original wflow didn't work, but the new one I created did.

[2022-09-20 07:06] truespinmice commented on #1887
Thanks for the update guys. Unfortunately it doesn't work on my end. Did the same test as you all -> I've created a new flow with 2 actions only (Post adaptive card and wait for a response + Update an adaptive card in a chat or channel) but got the same error.

What regions are you in (O365/Power Platform)? I'm in the UK (O365 tenant).
Dataverse version: 9.2.22084.00190
2022 release wave 2: OFF

!

[2022-09-20 07:07] AndreaRyba commented on #1955
@Niels-SL Hi guys, yesterday I have received an answer from Tech support.. It is long but I think it brings some clarity into this topic :). Especially point 2. concerning the SOAP API and headers.

Dear User,

Thank you for contacting us, the VIES/Web team.
Sincere apologies for the delay in responding to your issue.
For your information, according to our investigation, both services of the VIES

[2022-09-20 07:18] truespinmice commented on #1887
also, I didn't get any update on my ticket in Microsoft (it is still open) so I'm considering this as not resolved...

[2022-09-20 09:27] Niels-SL commented on #1955
@AndreaRyba I was actually composing an e-mail to VIES team but stopped in the process and tried adding the headers - and then it worked 😊

Also, I imagined it would take forever to get a reply. And when you get a reply, it is nice with such a personal touch - "Dear User" 😂

[2022-09-20 19:21] liyubupt commented on #1694
Is there any update on this topic? I think it is very necessary to support other authentication mechanisms other than browser login with device login flow. Currently, it is not possible to implement CICD for custom connector

[2022-09-20 22:14] BongoEADGC6 commented on #1887
This still does not work for me either. Maybe it's changed for certain customers and is making it's way around.

[2022-09-20 23:02] asrvstv5 commented on #1880
Hi, My bad. I did not mean to spam. Was testing the issue submission feature at that time. I forgot to delete and/or close the issue. Will do so now

[2022-09-20 23:02] #1880 closed

[2022-09-21 03:39] Tim-Roe commented on #1887
Strangle I got the same error even after building a new logic app with the same two actions.
But when I did a test using power automate/flow it did work with the two actions.

[2022-09-21 07:16] truespinmice commented on #1887
OMG! It's finally working on my end! Tested on 2 different tenant (but in the same region).
Also last night got update from MS:
_As discussed on call, I informed you that this is a know issue and it will be resolved by our engineering team who is working on it. I would like to update you that the fix was rolled out on 16th Sept 2022, and it may have already been deployed to your region, otherwise

[2022-09-21 08:52] truespinmice commented on #1887
@Tim-Roe , confirmed with Logic Apps too!
@Narizz28 I think you can close/solve this bug.

[2022-09-22 21:17] Tim-Roe commented on #1887
Yes, confirmed working in both platforms for me now too.

[2022-10-06 01:27] DennisAkkor opened #2031 "AccuWeather (Independent Publisher) issue"
Api Name - shared_accuweatherip

Bug description - No bug, this was a test

Is this a security bug? (Y/N) n

What is the severity of this bug? none

[2022-10-06 01:27] DennisAkkor commented on #2031
No comment

[2022-10-11 12:21] YAHMAN99 opened #2048 "AIHW MyHospitals (Independent Publisher) issue"
Api Name - shared_myhospitalsbyaihwip

Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-10-17 21:04] troystaylor opened #2067 "[BUG] Power Automate Editor Import OpenAPI 3.0 - allOf not changed"
### Type of Connector

Custom Connector

### Name of Connector

GitHub Gists

### Describe the bug

I was able to successfully import the connector definition (after removing non-Gists-related definitions) from:
https://raw.githubusercontent.com/github/rest-api-description/main/descriptions/api.github.com/api.github.com.json
In the Swagger Editor, I can see that the definition has been downgraded

[2022-10-17 23:53] martin-dreyer-teck commented on #1694
Please consider prioritizing unattended authentication. paconn is such a great tool and could be used to distribute our organization's custom connectors to multiple environments continuously if only we could execute it in an unattended fashion. All that's missing is the authentication bit.

[2022-10-17 23:57] troystaylor commented on #1694
Have you taken a look at the pac connector in preview? https://learn.microsoft.com/en-us/power-platform/developer/cli/reference/connector

[2022-10-18 00:05] martin-dreyer-teck commented on #1694
@troystaylor no I wasn't aware of that. Thanks!

This is just the kind of option I was hoping for:

`pac auth create --url https://myorg.crm.dynamics.com --name MyOrg-SPN --applicationId 00000000-0000-0000-0000-000000000000 --clientSecret $clientSecret --tenant 00000000-0000-0000-0000-000000000000`

[2022-10-19 21:10] GoddessGlamGang opened #2076 "Writesonic (Independent Publisher) issue"
Api Name - shared_writesonicip

Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-10-23 01:18] VanDng commented on #1925
I am also experiencing the similar issue. It took me days to try to troubleshoot, it turns out the Context.SendAsync is the culprit. It always return 403 error.

![image](https://user-images.githubusercontent.com/20492454/197368554-62376091-b30a-48f6-b97e-02c7ff2f3fdd.png)

[2022-10-23 01:49] ben741 commented on #1925
I think you have a different issue. Mine is a 500 status, not 403. Thanks for the screenshot though - I hadn't thought to check the custom connector test panel (rather than the flow run) to see if there would be more information there.

It seems like the issue I'm having is that my script exceeds the 5 second limit when running from a cold start, i.e. the timeout is being applied to more than just

[2022-10-23 08:47] VanDng commented on #1925
Thank @ben741
I will probably create a separate topic for my issue.

[2022-10-26 04:15] sanjoybhattacharjee opened #2090 "Electricity Maps (Independent Publisher) issue"
Api Name - shared_electricitymapsip

Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-10-26 04:15] sanjoybhattacharjee commented on #2090
Comment

[2022-10-26 04:15] #2090 closed

[2022-10-26 04:15] sanjoybhattacharjee commented on #2090
Closed

[2022-10-26 18:31] pmf-dave commented on #1835
Hi all,

I can confirm that I was able to use the JIRA SEARCH feature in Power Automate. It's as @paulculmsee suggests above. Simply provide your email address for your JIRA user in the "username" field. In the "password" field, provide the API token you created in your JIRA user account. Works like a charm!

- Dave

[2022-10-26 18:34] Amjed-Ayoub commented on #1835
Thank you so much @pmf-dave.
@mattbze can you please confirm and close the issue.
Thank you so much.

[2022-10-27 20:50] Martel1991 opened #2101 "Coinbase (Independent Publisher) issue"
Api Name - shared_coinbaseip

Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-10-30 23:43] Jesus12349 opened #2106 "24 pull request (Independent Publisher) issue"
Api Name - shared_24pullrequestip

Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-11-02 09:15] jeremyp557 commented on #225
I can't see the feature in 2022wave1????

[2022-11-02 09:24] CharlotteKwongGTI opened #2116 "Pass param as json object"
### Type of Connector

Custom Connector

### Name of Connector

custom connector

### Describe the bug

hi , Can I know that Is it possible to pass in a json object in GET query? as I can see there are only string,int,bool,array etc, and I try to pass in as string but it cannot reconigized the symbol and become %40 %22

### Is this a security bug?

No, this is not a security bug

### What is the s

[2022-11-02 12:11] troystaylor commented on #2116
Which service are you trying to connect to? Most GET endpoints also have an accompanying POST that allows for objects.

[2022-11-02 12:14] CharlotteKwongGTI commented on #2116
RetrieveRecordChangeHistory(which is getting the record of audit table

[2022-11-02 13:36] troystaylor commented on #2116
Try something like this:

`swagger: '2.0'
info:
  title: Dataverse Web API
  description: ''
  version: '1.0'
host: orgXXXXXX.api.crm.dynamics.com
basePath: /api/data/v9.2/
schemes:
  - https
consumes: []
produces: []
paths:
  /RetrieveRecordChangeHistory(Target=@p1):
    get:
      responses:
        default:
          description: default
          schema: {}
      summary: Get Record Change

[2022-11-07 03:05] nmyint1 opened #2127 "24 pull request (Independent Publisher) issue"
Api Name - shared_24pullrequestip

Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-11-15 19:12] SinghAD-coder commented on #1113
@krithsai, were you able to succeed in making the mulit-auth work from this page: https://docs.microsoft.com/en-us/connectors/custom-connectors/multi-auth

[2022-11-18 00:49] ceo-cmd opened #2152 "One-Time Secret (Independent Publisher) issue"
Api Name - shared_onetimesecretip

Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-11-21 09:48] Cbapista3 opened #2156 "BIN Checker (Independent Publisher) issue"
Api Name - shared_bincheckerip

Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-11-21 16:54] EdGCRM opened #2157 "Veteran Confirmation (Independent Publisher) issue"
Api Name - shared_veteransaffairsip

Bug description - Documentation Link Inop for both MS and Git

Is this a security bug? (Y/N) N

What is the severity of this bug? Keeps me from using the connector :(

[2022-11-21 17:03] troystaylor commented on #2157
Hi Ed,
For the Independent Publisher connector, you will need to register for [production access.](https://developer.va.gov/onboarding/request-prod-access) I now realize this after submitting the connector as part of M365 Chicago. You can also download the Swagger from my [repo](https://github.com/troystaylor/PowerPlatformConnectors/blob/VA/independent-publisher-connectors/Veterans%20Affairs/apiDe

[2022-11-29 14:47] BenoitLorotte43 opened #2176 "Spotify (Independent Publisher) issue"
Api Name - shared_spotifyip

Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?

[2022-11-30 22:34] mehdilagger opened #2181 "Workable (Independent Publisher) issue"
Api Name - shared_workableip

Bug description -

Is this a security bug? (Y/N)

What is the severity of this bug?